<div class="sidebar" data-color="purple" data-background-color="white" data-image="/img/sidebar-1.jpg">

  <div class="logo">
    <a href="#" class="simple-text logo-normal">
      Creative by 19_HaiPv
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item-01">
        <a class="nav-link" href="/admin/statistical">
          <i class="material-icons">dashboard</i>
          <p>Thống kê</p>
        </a>
      </li>
      <li class="nav-item-02 ">
        <a class="nav-link" href="/admin/quan-ly-tai-khoan">
          <i class="material-icons">person</i>
          <p>Quản lý tài khoản</p>
        </a>
      </li>
      <li class="nav-item-03">
        <a class="nav-link" href="/admin/tai-khoan-ca-nhan">
          <i class="material-icons">face</i>
          <p>Tài khoản cá nhân</p>
        </a>
      </li>
      <li class="nav-item-04 ">
        <a class="nav-link" href="/admin/quan-ly-bai-dang">
          <i class="material-icons">content_paste</i>
          <p>Quản lý bài đăng</p>
        </a>
      </li>
      <li class="nav-item-05 ">
        <a class="nav-link" href="/admin/quan-ly-nha-tai-tro">
          <i class="material-icons">account_balance</i>
          <p>Quản lý nhà tài trợ</p>
        </a>
      </li>
      <li class="nav-item-06 ">
        <a class="nav-link" href="/admin/quan-ly-hoan-canh-kho-khan">
          <i class="material-icons">people</i>
          <p>Quản lý hoàn cảnh khó khăn</p>
        </a>
      </li>
    </ul>
  </div>
</div>