<!DOCTYPE html>
<html lang="en">

<head id="Head">
    <%-include("./header")%>
</head>

<body id="Body">
    <%-include("./menu_tintuc")%>
    <div class="fmcenter">
        <div class="TNContent">
            <div id="dnn_Top" class="DNNEmptyPane">
            </div>
            <div class="clear">
            </div>
            <div class="TNMain">
                <div id="dnn_Top_1" class="TNTop1 DNNEmptyPane">
                </div>
                <div id="dnn_Top_2" class="TNTop2 DNNEmptyPane">
                </div>
                <div id="dnn_Top_3" class="TNTop3 DNNEmptyPane">
                </div>
                <div class="clear">
                </div>
                <div id="dnn_Middle_1" class="TNMiddle1 DNNEmptyPane">
                </div>
                <div id="dnn_Middle_2" class="TNMiddle2 DNNEmptyPane">
                </div>
                <div class="clear">
                </div>
                <div id="dnn_Detail_Left" class="TNDetailLeft">
                    <div class="DnnModule DnnModule-TNCategorySolution DnnModule-538"><a name="538"></a>
                        <div id="dnn_ctr538_ContentPane">
                            <!-- Start_Module_538 -->
                            <div id="dnn_ctr538_ModuleContent" class="DNNModuleContent ModTNCategorySolutionC">



                                <div style="clear:both;"></div>



                                <div class="header_danhmuc">
                                    <div class="hearder_tab_home">
                                        <a href="/"></a>
                                    </div>
                                    <div class="header_Shape"></div>
                                    <div class="hearder_tab_level1"><a href="">&nbsp;Giới thiệu&nbsp;</a>
                                    </div>
                                    <div class="header_Shape"></div>
                                    <div class="hearder_tab_level1"><a href="">&nbsp;Cơ cấu tổ chức&nbsp;</a> </div>
                                    <div class="header_warp_right"></div>
                                </div>

                                <div style="clear:both;"></div>
                                <div style="clear:both;"></div>

                                <span id="dnn_ctr538_Main_lblMessage" style="clear:both;"></span>


                            </div><!-- End_Module_538 -->
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="DnnModule DnnModule-TNHtml DnnModule-544"><a name="544"></a>
                        <div id="dnn_ctr544_ContentPane">
                            <!-- Start_Module_544 -->
                            <div id="dnn_ctr544_ModuleContent" class="DNNModuleContent ModTNHtmlC">
                                <p align="center" style="text-align: center;">
                                    <font face="Time New Romman" color="#000000">
                                        <font size="3">
                                            <img src="./images/so_do_to_chuc_quy.png">
                                        </font>
                                        <br>
                                        <br>
                                        <font size="3">
                                            <img src="./images/so_do_to_chuc_Quy_BTTEVN.png">
                                        </font>
                                        <br>
                                        <br>
                                        <b>
                                            <font size="5">HỘI ĐỒNG BẢO TRỢ QUỸ BẢO TRỢ TRẺ EM TỈNH ĐIỆN BIÊN</font>
                                        </b>
                                    </font>
                                </p>
                                <p class="MsoNormal" align="center" style="text-align: center;">
                                    <span style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;;">
                                        <b>
                                            <font size="4">Thường trực Hội đồng Bảo trợ Quỹ BTTEVN gồm 3 thành viên:
                                            </font>
                                        </b>
                                    </span>
                                </p>
                                <p class="MsoNormal" align="center" style="text-align: left;">
                                    <font face="Times New Roman" color="#000000">
                                        <font size="3">1- Chủ tịch Hội đồng Bảo trợ: Bà Đặng Thị Ngọc Thịnh - Phó Chủ
                                            tịch nước CHXHCN Việt Nam
                                        </font>
                                        <br>
                                        <font size="3">2- Phó Chủ tịch Hội đồng: Ông Đào Ngọc Dung - Bộ trưởng Bộ Lao
                                            động- Thương binh và Xã hội
                                        </font>
                                        <br>
                                        <font size="3">3- Ủy viên thường trực: Bà Nguyễn Thị Hà - Thứ trưởng Bộ Lao động
                                            - Thương binh và Xã hội
                                        </font>
                                    </font>
                                </p>
                                <p class="MsoNormal" align="center" style="text-align: center;">
                                    <span
                                        style="font-size: medium; color: rgb(0, 0, 0); font-family: 'Times New Roman';">
                                        <b>&nbsp;Hội đồng bảo trợ gồm 18 thành viên:
                                        </b>
                                    </span>
                                </p>
                                <p class="MsoNormal"
                                    style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">
                                    <span
                                        style="font-size: 12pt; font-family: &quot;Times New Roman&quot;, serif; color: black; border-width: 1pt; border-style: none; border-color: windowtext; padding: 0in;">1-
                                        Ông Nguyễn Đồng Tiến - Phó Thống đốc Ngân hàng nhà nước Việt Nam<br>
                                        2- Bà Nguyễn Thị Nghĩa - Thứ trưởng Bộ Giáo dục và Đào tạo<br>
                                        3- Ông Lâm Kiết Tường - Phó Tổng Giám đốc Đài truyền hình Việt Nam<br>
                                        4- Bà Trần Thị Hà - Thứ trưởng Bộ Nội Vụ<br>
                                        5- Ông Phạm Văn Trường - Vụ trưởng Vụ Tài chính, Hành chính sự nghiệp - Bộ Tài
                                        chính<br>
                                        6- Ông Hà Kim Ngọc - Thứ trưởng Bô ngoại giao
                                    </span>
                                </p>
                                <p class="MsoNormal" style="">
                                    <span
                                        style="font-size: 12pt; font-family: &quot;Times New Roman&quot;, serif; color: black; border-width: 1pt; border-style: none; border-color: windowtext; padding: 0in;">7-
                                        Bà Đặng Thị Bích Liên - Thứ trưởng Bộ Văn hóa, Thể thao và Du lịch<br>
                                        8- Ông Trần Đăng Khoa - Phó Vụ trưởng Vụ Sức khỏe, Bà mẹ, Trẻ em - Bộ Y tế<br>
                                        9- Ông Phạm Văn Thanh - Bí thư Đảng ủy, Chủ tịch HĐQT Tập đoàn Xăng dầu Việt
                                        Nam<br>
                                        10- Ông Đỗ Chí Thanh - Phó tổng giám đốc Tập đoàn dầu khí quốc gia Việt Nam<br>
                                        11- Ông Đào Minh Tuấn - Phó Tổng giám đốc Ngân hàng ngoại thương VN<br>
                                        12- Ông Cao Minh Sơn - Chủ tịch HĐQT Công ty tài chính Đất Việt<br>
                                        13- Ông Nguyễn Ngọc Lương - Bí thư Trung ương Đoàn TNCS Hồ Chí Minh</span></p>
                                <p class="MsoNormal"
                                    style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">
                                    <span
                                        style="font-size: 12pt; font-family: &quot;Times New Roman&quot;, serif; color: black; border-width: 1pt; border-style: none; border-color: windowtext; padding: 0in;">14-
                                        Ông Johnathan Hạnh Nguyễn - Chủ tịch Hội đồng quản trị Tập đoàn Xuất nhập khẩu
                                        Liên Thái Bình Dương (Imex Pan)
                                    </span>
                                    <span style="font-size: 12pt; font-family: Arial, sans-serif;">
                                        <o:p></o:p>
                                    </span>
                                </p>
                                <p class="MsoNormal"
                                    style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">
                                    <span
                                        style="font-size: 12pt; font-family: &quot;Times New Roman&quot;, serif; color: black; border-width: 1pt; border-style: none; border-color: windowtext; padding: 0in;">15-
                                        Ông Lê Văn Kiểm - Chủ tịch HĐQT Cty Đầu tư và Kinh doanh Golf Long Thành
                                    </span>
                                </p>
                                <p class="MsoNormal"
                                    style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">
                                    <span
                                        style="font-size: 12pt; font-family: &quot;Times New Roman&quot;, serif; color: black; border-width: 1pt; border-style: none; border-color: windowtext; padding: 0in;">16-
                                        Bà Nguyễn Thị Bảo Hiền - Tổng Giám đốc Công ty TNHH Thương mại và Dịch vụ Hiền
                                        Lê
                                    </span>
                                </p>
                                <p class="MsoNormal"
                                    style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">
                                    <span
                                        style="font-size: 12pt; font-family: &quot;Times New Roman&quot;, serif; color: black; border-width: 1pt; border-style: none; border-color: windowtext; padding: 0in;">17-
                                        Ông Nguyễn Văn Thân - Chủ tịch Hiệp hội Doanh nghiệp nhỏ và vừa Việt Nam&nbsp;
                                    </span>
                                </p>
                                <p class="MsoNormal"
                                    style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">
                                    <span
                                        style="font-size: 12pt; font-family: &quot;Times New Roman&quot;, serif; color: black; border-width: 1pt; border-style: none; border-color: windowtext; padding: 0in;">18-&nbsp;
                                    </span>
                                    <span
                                        style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;, serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal;">Ông
                                        Hoàng Văn Tiến - Giám đốc Quỹ Bảo trợ trẻ em tỉnh Điện Biên -Thư ký Hội đồng</span>
                                </p>
                                <p class="MsoNormal" align="center">

                                </p>
                            </div><!-- End_Module_544 -->
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
                <%-include("./Detail_Right")%>
                <div class="clear">
                </div>
                <div id="dnn_VideoLeft" class="videoleft DNNEmptyPane">
                </div>
                <div id="dnn_VideoRight" class="videoright DNNEmptyPane">
                </div>
                <div class="clear">
                </div>
                <div id="dnn_VideoHomeTop" class="TNvideotop DNNEmptyPane">
                </div>
                <div class="clear">
                </div>
                <div id="dnn_Video_Left" class="TNVdieoleft DNNEmptyPane">
                </div>
                <div id="dnn_Video_Center" class="TNVideocenter DNNEmptyPane">
                </div>
                <div id="dnn_Video_Right" class="TNVideoright DNNEmptyPane">
                </div>
                <div class="clear">
                </div>
                <div id="dnn_Bottom" class="TNContent DNNEmptyPane">
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
    <%-include("./footer")%>
    <div id="scroll-top" style="display: none;">
        <a href="/gioi-thieu/lich-su-hinh-thanh-va-phat-trien_t120c65#top" tabindex="0">
            <div class="GotoTop">
                Scroll</div>
        </a>
    </div>
    <div id="dnn_Contentpane" class="DNNEmptyPane">
    </div>
    <script type="text/javascript">
        function tninit() {
            jQuery(".smartlistnoheight").each(function () {
                var me = jQuery(this);
                me.customScroll();
            });
            tndate(".dt");
            jQuery(".dt").mask('99/99/9999');
            jQuery('img[src=]').attr('src', 'abc.jpg');
            jQuery('a img.ximg').error(function () {
                jQuery(this).parent().hide();
            });

            jQuery('.imgnews').each(function () {
                var me = jQuery(this);
                me.find('img').error(function () {
                    me.hide();
                });
                var mheight = me.height();
                var mwidth = me.width();
                var mimg = me.find('img:first');
                if (mimg.height() < mheight) {
                    mimg.css("width", "auto");
                    mimg.css("height", mheight);
                }
            });
        }
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("#scroll-top").hide();
            jQuery(function () {
                jQuery(window).scroll(function () {
                    if (jQuery(this).scrollTop() > 400) {
                        jQuery('#scroll-top').fadeIn();
                    } else {
                        jQuery('#scroll-top').fadeOut();
                    }
                });
                jQuery('#scroll-top a').click(function () {
                    jQuery('body,html').animate({
                        scrollTop: 0
                    }, 1000);
                    return false;
                });
            });
        });
    </script>
    <script language="javascript" type="text/javascript">

        $(function () {
            $("#amazon_scroller3").amazon_scroller({
                scroller_title_show: 'enable',
                scroller_time_interval: '3000',
                scroller_window_background_color: "none",
                scroller_window_padding: '0',
                scroller_border: "1px solid #c8c8c8",
                scroller_images_width: '140',
                scroller_images_height: '100',
                scroller_title_size: '0',
                scroller_title_color: '#0c6797',
                scroller_show_count: '6',
                directory: 'images'
            });
        });
    </script>

    <input name="ScrollTop" type="hidden" id="ScrollTop" value="0">
    <input name="__dnnVariable" type="hidden" id="__dnnVariable" autocomplete="off"
        value="`{`__scdoff`:`1`,`sf_siteRoot`:`/`,`sf_tabId`:`120`}">


    <!-- <script type="text/javascript" src="./js/initWidgets.js"></script></form> -->



    <div id="fancybox-tmp"></div>
    <div id="fancybox-loading">
        <div></div>
    </div>
    <div id="fancybox-overlay"></div>
    <div id="fancybox-wrap">
        <div id="fancybox-outer">
            <div class="fancybox-bg" id="fancybox-bg-n"></div>
            <div class="fancybox-bg" id="fancybox-bg-ne"></div>
            <div class="fancybox-bg" id="fancybox-bg-e"></div>
            <div class="fancybox-bg" id="fancybox-bg-se"></div>
            <div class="fancybox-bg" id="fancybox-bg-s"></div>
            <div class="fancybox-bg" id="fancybox-bg-sw"></div>
            <div class="fancybox-bg" id="fancybox-bg-w"></div>
            <div class="fancybox-bg" id="fancybox-bg-nw"></div>
            <div id="fancybox-content"></div><a id="fancybox-close"></a>
            <div id="fancybox-title"></div><a href="javascript:;" id="fancybox-left"><span class="fancy-ico"
                    id="fancybox-left-ico"></span></a><a href="javascript:;" id="fancybox-right"><span class="fancy-ico"
                    id="fancybox-right-ico"></span></a>
        </div>
    </div>
    <div id="eJOY__extension_root" style="all: unset;"></div>
</body>

</html>