<div class="TNFooter">
    <div id="dnn_Footer" class="TNBannerFooter">
        <div class="DnnModule DnnModule-TNHtml DnnModule-527"><a name="527"></a>
            <div id="dnn_ctr527_ContentPane">
                <!-- Start_Module_527 -->
                <div id="dnn_ctr527_ModuleContent" class="DNNModuleContent ModTNHtmlC">
                    <style>
                        .ftLeft {
                            float: left;
                            width: 30%;
                        }

                        .ftLeft span {
                            color: #fff;
                            text-align: left;
                            line-height: 20px;
                        }

                        .ftRight {
                            float: right;
                            text-align: left;
                            font-size: 11px;
                            margin-top: 10px;
                            text-align: right
                        }

                        .ftRight span {
                            color: #D5D5D5;
                            font: normal 13px/22px "Open Sansz";
                        }

                        .ftRight a {
                            text-decoration: none;
                            color: #D5D5D5
                        }

                        .ftRight a:hover {
                            color: yellow
                        }
                    </style>

                    <div class="ftLeft">
                        <div style="float:left;"><a href="/" tabindex="0"><img style="margin-right:40px"
                                    src="/images/f_logo.png"></a></div>
                        <div style="float:right;">

                        </div>
                    </div>
                    <div class="ftRight">
                        <span>
                            <b>Bản quyền thuộc Quỹ <a href="/" target="_blank">Bảo trợ</a> trẻ
                                em tỉnh Điện Biên </b><br>
                            Tel: (xxx) xxxxxxxxx/ xxxxxxxxx/ xxxxxxxxx/ xxxxxxxxx/ xxxxxxxxx * Fax: (xxx) xxxxxxxxx
                            <br>
                            Email: xxxxxx@gmail.com.vn * Website: # * Fanpage:
                            http://facebook.com/xxx.xx.xx<br>
                            Thiết kế và phát triển bởi <a tabindex="0" target="_blank" href="#">19_haipv</a>
                        </span>
                    </div>
                    <div style="clear: both;"></div>

                    <span id="dnn_ctr527_Main_lblMessage" style="clear: both;"></span>

                </div><!-- End_Module_527 -->
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>
