<!DOCTYPE html>
<html lang="en">

<head id="Head">
    <%-include("./header")%>
</head>

<body id="Body">
    <%-include("./menu_tintuc")%>
    <div class="fmcenter">
        <div class="TNContent">
            <div id="dnn_Top" class="DNNEmptyPane">
            </div>
            <div class="clear">
            </div>
            <div class="TNMain">
                <div id="dnn_Top_1" class="TNTop1 DNNEmptyPane">
                </div>
                <div id="dnn_Top_2" class="TNTop2 DNNEmptyPane">
                </div>
                <div id="dnn_Top_3" class="TNTop3 DNNEmptyPane">
                </div>
                <div class="clear">
                </div>
                <div id="dnn_Middle_1" class="TNMiddle1 DNNEmptyPane">
                </div>
                <div id="dnn_Middle_2" class="TNMiddle2 DNNEmptyPane">
                </div>
                <div class="clear">
                </div>
                <div id="dnn_Detail_Left" class="TNDetailLeft">
                    <div class="DnnModule DnnModule-TNCategorySolution DnnModule-538"><a name="538"></a>
                        <div id="dnn_ctr538_ContentPane">
                            <!-- Start_Module_538 -->
                            <div id="dnn_ctr538_ModuleContent" class="DNNModuleContent ModTNCategorySolutionC">
                                <div style="clear:both;"></div>
                                <div class="header_danhmuc">
                                    <div class="hearder_tab_home">
                                        <a href="/"></a>
                                    </div>
                                    <div class="header_Shape"></div>
                                    <div class="hearder_tab_level1"><a
                                            href="/gioi-thieu">&nbsp;Giới thiệu&nbsp;</a>
                                    </div>
                                    <div class="header_warp_right"></div>
                                </div>
                                <div style="clear:both;"></div>
                                <div style="clear:both;"></div>
                                <span id="dnn_ctr538_Main_lblMessage" style="clear:both;"></span>
                            </div><!-- End_Module_538 -->
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="DnnModule DnnModule-TNHtml DnnModule-542"><a name="542"></a>
                        <div id="dnn_ctr542_ContentPane">
                            <!-- Start_Module_542 -->
                            <div id="dnn_ctr542_ModuleContent" class="DNNModuleContent ModTNHtmlC">
                                <b>GIỚI THIỆU CHUNG</b>
                                <p>&nbsp;</p>
                                <p style="text-align: justify;">
                                    <font size="3">Quỹ Bảo trợ trẻ em tỉnh Điện Biên là đơn vị sự nghiệp thuộc Bộ Lao động –
                                        Thương binh và Xã hội có chức năng vận động các nguồn tài trợ trong nước và quốc
                                        tế để góp phần thực hiện mục tiêu về bảo vệ, chăm sóc và giáo dục trẻ. Quỹ Bảo
                                        trợ trẻ em có hệ thống từ Trung ương đến cơ sở, quản lý dữ liệu về trẻ em cần
                                        giúp đỡ, được giúp đỡ và theo dõi sự phát triển của trẻ em.&nbsp;</font>
                                </p>
                                <p style="text-align: justify;">
                                    <font size="3">Theo Luật Trẻ em năm 2016 có hiệu lực từ ngày 01/7/2017 thay thế Luật
                                        Bảo vệ, chăm sóc và giáo dục trẻ em tại Điều 95 quy định: “Quỹ Bảo trợ trẻ em
                                        được thành lập nhằm mục đích vận động sự đóng góp tự nguyện của cơ quan, tổ
                                        chức, cá nhân ở trong nước và nước ngoài, viện trợ quốc tế và hỗ trợ của ngân
                                        sách nhà nước trong trường hợp cần thiết để thực hiện các mục tiêu về trẻ em
                                        được nhà nước ưu tiên”.</font>
                                </p>
                                <p style="text-align: justify;">
                                    <font size="3">Quỹ Bảo trợ trẻ em tỉnh Điện Biên (Quỹ BTTE Điện Biên) có Hội đồng Bảo trợ,
                                        hiện nay đồng chí Đặng Thị Ngọc Thịnh – Phó Chủ tịch nước CHXHCNVN là Chủ tịch
                                        Hội đồng Bảo trợ và 20 thành viên là những chính khách, người có uy tín, vị thế
                                        cao là đại diện lãnh đạo Bộ, ngành LĐTBXH, Tài chính, Ngân hàng, Ngoại giao,
                                        Giáo dục, Y tế, Nội vụ, các tập đoàn kinh tế lớn…</font>
                                </p>
                                <p style="text-align: justify;">
                                    <font size="3">Trong hơn 26 năm hoạt động, với phương châm “Tận tâm – Minh bạch –
                                        Kịp thời – Cùng tham gia”, Quỹ BTTE Điện Biên đã vận động được hơn 1.150 tỷ đồng
                                        cùng hàng trăm ngàn tấn hàng hóa và hàng triệu lượt người tham gia bảo vệ, chăm
                                        sóc và giáo dục cho trên 7 triệu lượt trẻ em có hoàn cảnh đặc biệt, khó khăn,
                                        Quỹ Bảo trợ trẻ em các cấp đã huy động được gần 6.500 tỷ đồng hỗ trợ cho trên 30
                                        triệu lượt trẻ em có hoàn cảnh đặc biệt, khó khăn trên toàn quốc. Từ khi thành
                                        lập đến nay, Quỹ BTTE Điện Biên đã và đang làm tốt vai trò, sứ mệnh của mình là
                                        cầu nối giữa những tấm lòng vàng với trẻ em Điện Biên nói chung và trẻ em nghèo,
                                        trẻ em có hoàn cảnh đặc biệt nói riêng. Với những thành tích đạt được, Quỹ BTTE
                                        Điện Biên xứng đáng với các phần thưởng cao quý của Đảng, Chính phủ trao tặng như
                                        Huân chương Lao động Hạng Ba, Hạng Hai, Hạng Nhất; Cờ Thi đua Chính phủ; Bằng
                                        khen của Thủ tướng Chính phủ…</font>
                                </p>

                                <span id="dnn_ctr542_Main_lblMessage" style="clear: both;"></span>

                            </div><!-- End_Module_542 -->
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
                <%-include("./Detail_Right")%>
                <div class="clear">
                </div>
                <div id="dnn_VideoLeft" class="videoleft DNNEmptyPane">
                </div>
                <div id="dnn_VideoRight" class="videoright DNNEmptyPane">
                </div>
                <div class="clear">
                </div>
                <div id="dnn_VideoHomeTop" class="TNvideotop DNNEmptyPane">
                </div>
                <div class="clear">
                </div>
                <div id="dnn_Video_Left" class="TNVdieoleft DNNEmptyPane">
                </div>
                <div id="dnn_Video_Center" class="TNVideocenter DNNEmptyPane">
                </div>
                <div id="dnn_Video_Right" class="TNVideoright DNNEmptyPane">
                </div>
                <div class="clear">
                </div>
                <div id="dnn_Bottom" class="TNContent DNNEmptyPane">
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
    <div class="TNFooter">
        <div id="dnn_Footer" class="TNBannerFooter">
            <div class="DnnModule DnnModule-TNHtml DnnModule-527"><a name="527"></a>
                <div id="dnn_ctr527_ContentPane">
                    <!-- Start_Module_527 -->
                    <div id="dnn_ctr527_ModuleContent" class="DNNModuleContent ModTNHtmlC">
                        <style>
                            .ftLeft {
                                float: left;
                                width: 30%;
                            }

                            .ftLeft span {
                                color: #fff;
                                text-align: left;
                                line-height: 20px;
                            }

                            .ftRight {
                                float: right;
                                text-align: left;
                                font-size: 11px;
                                margin-top: 10px;
                                text-align: right
                            }

                            .ftRight span {
                                color: #D5D5D5;
                                font: normal 13px/22px "Open Sansz";
                            }

                            .ftRight a {
                                text-decoration: none;
                                color: #D5D5D5
                            }

                            .ftRight a:hover {
                                color: yellow
                            }
                        </style>

                        <div class="ftLeft">
                            <div style="float:left;"><a href="/" tabindex="0"><img
                                        style="margin-right:40px"
                                        src="/images/f_logo.png"></a>
                            </div>
                        </div>
                        <div class="ftRight">
                            <span>
                                <b>Bản quyền thuộc Quỹ <a href="/" target="_blank">Bảo trợ</a> trẻ
                                    em tỉnh Điện Biên </b><br>
                                Tel: (xxx) xxxxxxxxx/ xxxxxxxxx/ xxxxxxxxx/ xxxxxxxxx/ xxxxxxxxx * Fax: (xxx) xxxxxxxxx
                                <br>
                                Email: xxxxxx@gmail.com.vn * Website: # * Fanpage:
                                http://facebook.com/xxx.xx.xx<br>
                                Thiết kế và phát triển bởi <a tabindex="0" target="_blank" href="#">19_haipv</a>
                            </span>
                        </div>
                        <div style="clear: both;"></div>

                        <span id="dnn_ctr527_Main_lblMessage" style="clear: both;"></span>

                    </div><!-- End_Module_527 -->
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
    <div id="scroll-top" style="display: block;">
        <a href="/gioi-thieu" tabindex="0">
            <div class="GotoTop">
                Scroll</div>
        </a>
    </div>
    <div id="dnn_Contentpane" class="DNNEmptyPane">
    </div>
    <script type="text/javascript">
        function tninit() {
            jQuery(".smartlistnoheight").each(function () {
                var me = jQuery(this);
                me.customScroll();
            });
            tndate(".dt");
            jQuery(".dt").mask('99/99/9999');
            jQuery('img[src=]').attr('src', 'abc.jpg');
            jQuery('a img.ximg').error(function () {
                jQuery(this).parent().hide();
            });

            jQuery('.imgnews').each(function () {
                var me = jQuery(this);
                me.find('img').error(function () {
                    me.hide();
                });
                var mheight = me.height();
                var mwidth = me.width();
                var mimg = me.find('img:first');
                if (mimg.height() < mheight) {
                    mimg.css("width", "auto");
                    mimg.css("height", mheight);
                }
            });
        }
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("#scroll-top").hide();
            jQuery(function () {
                jQuery(window).scroll(function () {
                    if (jQuery(this).scrollTop() > 400) {
                        jQuery('#scroll-top').fadeIn();
                    } else {
                        jQuery('#scroll-top').fadeOut();
                    }
                });
                jQuery('#scroll-top a').click(function () {
                    jQuery('body,html').animate({
                        scrollTop: 0
                    }, 1000);
                    return false;
                });
            });
        });
    </script>
    <script language="javascript" type="text/javascript">

        $(function () {
            $("#amazon_scroller3").amazon_scroller({
                scroller_title_show: 'enable',
                scroller_time_interval: '3000',
                scroller_window_background_color: "none",
                scroller_window_padding: '0',
                scroller_border: "1px solid #c8c8c8",
                scroller_images_width: '140',
                scroller_images_height: '100',
                scroller_title_size: '0',
                scroller_title_color: '#0c6797',
                scroller_show_count: '6',
                directory: 'images'
            });
        });
    </script>

    <input name="ScrollTop" type="hidden" id="ScrollTop" value="477">
    <input name="__dnnVariable" type="hidden" id="__dnnVariable" autocomplete="off"
        value="`{`__scdoff`:`1`,`sf_siteRoot`:`/`,`sf_tabId`:`58`}">

    <div id="fancybox-tmp"></div>
    <div id="fancybox-loading">
        <div></div>
    </div>
    <div id="fancybox-overlay"></div>
    <div id="fancybox-wrap">
        <div id="fancybox-outer">
            <div class="fancybox-bg" id="fancybox-bg-n"></div>
            <div class="fancybox-bg" id="fancybox-bg-ne"></div>
            <div class="fancybox-bg" id="fancybox-bg-e"></div>
            <div class="fancybox-bg" id="fancybox-bg-se"></div>
            <div class="fancybox-bg" id="fancybox-bg-s"></div>
            <div class="fancybox-bg" id="fancybox-bg-sw"></div>
            <div class="fancybox-bg" id="fancybox-bg-w"></div>
            <div class="fancybox-bg" id="fancybox-bg-nw"></div>
            <div id="fancybox-content"></div><a id="fancybox-close"></a>
            <div id="fancybox-title"></div><a href="javascript:;" id="fancybox-left"><span class="fancy-ico"
                    id="fancybox-left-ico"></span></a><a href="javascript:;" id="fancybox-right"><span class="fancy-ico"
                    id="fancybox-right-ico"></span></a>
        </div>
    </div>
    <div id="eJOY__extension_root" style="all: unset;"></div>
</body>

</html>