<!DOCTYPE html>
<html lang="en">

<head id="Head">
    <%-include("./header")%>
</head>

<body id="Body">
        <%-include("./menu_tintuc")%>
        <div class="fmcenter">
            <div class="TNContent">
                <div id="dnn_Top" class="DNNEmptyPane">
                </div>
                <div class="clear">
                </div>
                <div class="TNMain">
                    <div id="dnn_Top_1" class="TNTop1 DNNEmptyPane">
                    </div>
                    <div id="dnn_Top_2" class="TNTop2 DNNEmptyPane">
                    </div>
                    <div id="dnn_Top_3" class="TNTop3 DNNEmptyPane">
                    </div>
                    <div class="clear">
                    </div>
                    <div id="dnn_Middle_1" class="TNMiddle1 DNNEmptyPane">
                    </div>
                    <div id="dnn_Middle_2" class="TNMiddle2 DNNEmptyPane">
                    </div>
                    <div class="clear">
                    </div>
                    <div id="dnn_Detail_Left" class="TNDetailLeft">
                        <div class="DnnModule DnnModule-TNCategorySolution DnnModule-538"><a name="538"></a>
                            <div id="dnn_ctr538_ContentPane">
                                <!-- Start_Module_538 -->
                                <div id="dnn_ctr538_ModuleContent" class="DNNModuleContent ModTNCategorySolutionC">



                                    <div style="clear:both;"></div>



                                    <div class="header_danhmuc">
                                        <div class="hearder_tab_home">
                                            <a href="/"></a>
                                        </div>
                                        <div class="header_Shape"></div>
                                        <div class="hearder_tab_level1"><a
                                                href="">&nbsp;Giới thiệu&nbsp;</a>
                                        </div>
                                        <div class="header_Shape"></div>
                                        <div class="hearder_tab_level1"><a
                                                href="">&nbsp;Các hoạt động hỗ trợ trẻ em&nbsp;</a> </div>
                                        <div class="header_warp_right"></div>
                                    </div>

                                    <div style="clear:both;"></div>
                                    <div style="clear:both;"></div>

                                    <span id="dnn_ctr538_Main_lblMessage" style="clear:both;"></span>
                                </div><!-- End_Module_538 -->
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="DnnModule DnnModule-TNHtml DnnModule-544"><a name="544"></a>
                            <div id="dnn_ctr544_ContentPane">
                                <!-- Start_Module_544 -->
                                <div id="dnn_ctr544_ModuleContent" class="DNNModuleContent ModTNHtmlC">
                                    <font face="Times New Roman" size="3" color="#000000">      Quỹ BTTEVN là Quỹ của Nhà nước, đã hoạt động có hiệu quả trong suốt thời gian từ khi thành lập đến nay. Hệ thống Quỹ BTTE đã vận động được gần 6.500 tỷ đồng giúp đỡ cho hơn 30 triệu lượt trẻ em có hoàn cảnh đặc biệt, khó khăn được hưởng lợi thông qua các chương trình, dự án của Quỹ. Các hoạt động hỗ trợ của Quỹ BTTE ngày càng gắn chặt với thực hiện các chỉ tiêu về trẻ em của nhà nước – Thực hiện Quyền trẻ em cho nhóm trẻ có hoàn cảnh đặc biệt, khó khăn. <br><br>
                                    </font>
                                    <p>
                                        <font face="Times New Roman" size="3" color="#000000">Hiện nay, Quỹ Bảo trợ trẻ em tỉnh Điện Biên đang thực hiện các hoạt động:
                                        </font>
                                        <span style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;"><br>
                                        </span>
                                    </p>
                                    <p>
                                        <span style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
                                            <b>4.1 Hỗ trợ Quyền được sống
                                            </b></span>
                                        </p>
                                        <p style="text-align: justify;">
                                            <span style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;"><b><i>Chương trình "Vì Trái tim trẻ thơ"</i></b>: Từ năm 2002 đến nay, Quỹ Bảo trợ trẻ em tỉnh Điện Biên đã hỗ trợ phẫu thuật và cứu sống cho gần 2.000 trẻ em bị dị tật tim bẩm sinh với tổng kinh phí hỗ trợ là hơn 80 tỷ đồng. Hệ thống Quỹ Bảo trợ trẻ em các cấp đã phẫu thuật cho hơn 17.000 trẻ em. Mỗi ca mổ tim hỗ trợ từ 40 – 50 triệu đồng.
                                            </span>
                                        </p>
                                        <p style="text-align: justify;">
                                            <font face="Times New Roman" size="3" color="#000000"><b><i>Chương trình hỗ trợ trẻ em khuyết tật, đặc biệt là trẻ em là nạn nhân chất độc da cam:</i></b> Bắt đầu triển khai từ năm 2001, đến nay đã có 34 Trung tâm Phục hồi chức năng giúp đỡ cho hơn 23.883 lượt trẻ em hưởng lợi, với tổng kinh phí là 36,481 tỷ đồng.
                                            </font></p><p style="text-align: justify;">
                                                <font face="Times New Roman" size="3" color="#000000"><b><i> Chương trình phẫu thuật chỉnh hình cho trẻ dị tật vận động:</i></b> Chương trình bắt đầu từ năm 2002 đến nay, tổng số trẻ em được phẫu thuật chỉnh hình là 7.149 em với tổng kinh phí 10,572 tỷ đồng giúp trẻ em bị dị tật về tay, chân được phẫu thuật và sớm phục hồi chức năng.
                                                </font>
                                            </p>
                                            <p style="text-align: justify;">
                                                <font face="Times New Roman" size="3" color="#000000"><b><i>Chương trình "Vì nụ cười trẻ thơ":</i></b> Quỹ BTTEVN đã tổ chức phẫu thuật cho 22.657 trẻ em bị dị tật tương ứng với tổng kinh phí hỗ trợ là hơn 70,1 tỷ đồng, định mức hỗ trợ trung bình cho 01 ca phẫu thuật là 5 – 6 triệu đồng.&nbsp;
                                                </font>
                                            </p>
                                            <p style="text-align: justify;">
                                                <font face="Times New Roman" size="3" color="#000000"><b><i>Chương trình "Ánh mắt trẻ thơ":</i></b> Chương trình được Quỹ BTTEVN phối hợp với tổ chức Orbis, Công ty Prudential và các bệnh viện đầu ngành về chuyên khoa mắt thực hiện. Từ năm 1998 đến nay, Quỹ Bảo trợ trẻ em tỉnh Điện Biên đã phẫu thuật 29.447 ca mắt, tương ứng với tổng kinh phí hỗ trợ là hơn 90 tỷ đồng. Chi phí hỗ trợ phẫu thuật trên 1 ca mắt (đục thủy tinh thể, lác, sụp mi, glocom…) với định mức trung bình 3 – 5 triệu đồng/ca.
                                                </font></p><p style="text-align: justify;">
                                                    <font face="Times New Roman" size="3" color="#000000"><b><i>Chương trình “Cấp phát sữa và các sản phẩm dinh dưỡng”:</i></b> Tính đến nay tổng số lượng sữa mà quỹ đã đem đến cho hơn 373.000 trẻ em khó khăn tại Việt Nam là hơn 30 triệu ly sữa, tương đương khoảng 120 tỷ đồng.
                                                    </font>
                                                </p>
                                                <p style="text-align: justify;">
                                                    <font face="Times New Roman" size="3" color="#000000"><b>4.2. Hỗ trợ Quyền được phát triển</b><br><b><i>Chương trình hỗ trợ học bổng cho trẻ em con thương binh, liệt sĩ và trẻ em nghèo hiếu học, học giỏi:</i></b> Bình quân mỗi năm, Quỹ trao khoảng 2.000 suất học bổng, bình quân mỗi suất trị giá từ 500 ngàn - 1 triệu đồng.Tổng cộng 20 năm Quỹ đã trao 63.723 xuất học bổng trị giá 50,4 tỷ đồng.
                                                    </font>
                                                </p>
                                                <p>
                                                    <font face="Times New Roman" size="3" color="#000000"><b><i>Chương trình “Cùng em đến trường”</i></b>: Chương trình được Phó Chủ tịch nước Nguyễn Thị Doan - Chủ tịch Hội đồng Bảo trợ Quỹ BTTEVN phát động từ năm 2012. Đến nay chương trình đã đến được với trẻ em tại 63 tỉnh thành trong cả nước, đã trao 14.402 suất học bổng cho trẻ em với tổng kinh phí hơn 34 tỷ đồng.
                                                    </font>
                                                </p>
                                                <p style="text-align: justify;">
                                                    <font face="Times New Roman" size="3" color="#000000"><b><i>Chương trình  hỗ trợ xây dựng và sửa chữa lớp học:</i></b> Hiện nay, trong cả nước vẫn còn 54.000 phòng học bán kiên cố, 15.000 phòng học tạm. Từ năm 1993 đến nay, Quỹ Bảo trợ trẻ em tỉnh Điện Biên đã hỗ trợ xây dựng được 30 trường học và 310 lớp học cho 55.695 trẻ em hưởng lợi. Mỗi công trình lớp học trị giá từ 1 – 5 tỷ đồng/công trình. Đặc biệt là công trình xây dựng nhà nội trú tại xã Mường Lý, huyện Mường Lát, Thanh Hóa, diện tích gần 1000 m2 với kinh phí gần 4 tỷ đồng.
                                                    </font>
                                                </p>
                                                <p style="text-align: justify;">
                                                    <font face="Times New Roman" size="3" color="#000000"><b><i>Chương trình Cung cấp dụng cụ học tập:</i></b> Năm 2014, Quỹ BTTEVN đã bắt đầu triển khai chương trình cấp đồ dùng học tập cho trẻ em tiểu học. Tính đến cuối năm 2017, đã có 20.084 em tại các tỉnh thành được Quỹ BTTEVN phối hợp với các nhà tài trợ tặng bộ đồ dùng học tập với tổng kinh phí là 10,1 tỷ đồng.&nbsp;
                                                    </font>
                                                </p>
                                                <p style="text-align: justify;">
                                                    <font face="Times New Roman" size="3" color="#000000"><b><i>Chương trình Hỗ trợ xe đạp:</i></b>&nbsp;</font><span style="text-align: left;"><font color="#000000" face="Times New Roman" size="3">Từ năm 2009, Quỹ BTTEVN triển khai chương trình hỗ trợ xe đạp cho trẻ em thuộc gia đình nghèo, con thương binh, liệt sỹ, con gia đình có công với cách mạng vượt khó học giỏi, trẻ em vùng sâu, vùng xa có phương tiện đi học. Tính đến nay, Quỹ BTTEVN đã trao tặng hơn 20.667 xe đạp với tổng kinh phí là 25,28 tỷ đồng
                                                    </font>
                                                </span>
                                            </p>
                                            <p style="text-align: justify;">
                                                <font face="Times New Roman" size="3" color="#000000"><b><i>Chương trình Giáo dục sớm KidSmart:</i></b> Bắt đầu triển khai chương trình từ năm 2010 đến nay Quỹ BTTEVN đã trao tặng 69 bộ Nhà thám hiểm trẻ với tổng kinh phí hỗ trợ là hơn 6 tỷ đồng cho trên 10.000 lượt trẻ em được hưởng lợi.</font>
                                            </p>
                                            <p style="text-align: justify;">
                                                <font face="Times New Roman" size="3" color="#000000"><b><i>Chương trình Hỗ trợ công trình nước sạch:</i></b> Để đảm bảo trẻ em có nước sạch sinh hoạt từ năm 2003 Quỹ BTTE bắt đầu hỗ trợ xây dựng các công trình nước sạch, vệ sinh cho trẻ em ở các điểm trường.&nbsp;
                                                </font>
                                                <span style="text-align: left;">
                                                    <font color="#000000" face="Times New Roman" size="3">Tính đến nay, Quỹ BTTEVN đã hỗ trợ xây dựng 204 công trình được xây dựng cho hơn 29.600 trẻ em hưởng lợi, với tổng kinh phí hỗ trợ là hơn 10 tỷ đồng.
                                                    </font>
                                                </span>
                                            </p>
                                            <p style="text-align: justify;">
                                                <font face="Times New Roman" size="3" color="#000000"><b>        4.3 Hỗ trợ Quyền được bảo vệ: </b><br><b><i>Hỗ trợ xe lăn:</i></b>&nbsp;Hiện tại ở Việt Nam có khoảng hơn 20.000 trẻ em bị liệt chi dưới cần được hỗ trợ xe lăn. Trong đó có rất nhiều trẻ em phải bỏ học giữa chừng vì không có xe lăn để đến trường. Trong những năm qua, Quỹ Bảo trợ trẻ em tỉnh Điện Biên đã vận động các tổ chức, cá nhân tặng 17.777 xe lăn cho trẻ em với tổng kinh phí hỗ trợ là hơn 26,5 tỷ đồng. . Kinh phí mua một xe lăn: 1,5 – 2 triệu đồng/chiếc xe sản xuất tại Việt Nam.&nbsp;
                                                </font>
                                            </p>
                                            <p style="text-align: justify;">
                                                <font face="Times New Roman" size="3" color="#000000"><b><i>Hỗ trợ cặp phao cứu sinh:</i></b> Nhằm trang bị cặp sách đi học cũng đồng thời là phao cứu sinh khi gặp rủi ro khi đi học qua vùng sông nước cho các em học sinh ở các vùng sông nước, vùng hồ, vùng hay bị lũ lụt, góp phần tích cực vào công tác phòng ngừa và ngăn chặn nạn đuối nước cho trẻ em. Đến nay, Quỹ BTTEVN đã cấp 37.474 cặp phao cứu sinh với tổng kinh phí 7,72 tỷ đồng cho trẻ em vùng sông nước, định mức trung bình cho 1 chiếc cặp phao là từ 200 – 300 ngàn đồng/1 chiếc.
                                                </font>
                                            </p>
                                            <p style="text-align: justify;">
                                                <font face="Times New Roman" size="3" color="#000000"><b><i>Hỗ trợ đỡ đầu và Bảo trợ dài hạn:&nbsp;</i></b>
                                                </font>
                                                <span style="text-align: left;">
                                                    <font color="#000000" face="Times New Roman" size="3">Hỗ trợ đỡ đầu và bảo trợ dài hạn đối với trẻ em mồ côi hoặc có cha, mẹ bị tàn tật, mất sức lao động, có học lực khá trở lên đã được Quỹ BTTEVN triển khai từ năm 2000. Trẻ em nhận hỗ trợ đỡ đầu cho đến khi đủ 16 tuổi hoặc có độ tuổi cao hơn theo yêu cầu nhà tài trợ. Trong quá trình nhận hỗ trợ, trẻ em có cam kết không bỏ học, luôn giữ học lực khá trở lên. Kinh phí hỗ trợ hàng năm từ 3 – 6 triệu đồng. Tính đến nay, đã có 1.467 lượt trẻ em nhận hỗ trợ đỡ đầu và bảo trợ dài hạn với tổng kinh phí 8,2 tỷ đồng.
                                                    </font>
                                                </span>
                                            </p>
                                            <p style="text-align: justify;">
                                                <font face="Times New Roman" size="3" color="#000000"><b>4.4 Hỗ trợ Quyền được tham gia: </b><br><b><i> Chương trình Hỗ trợ điểm vui chơi:</i></b><br>Bắt đầu từ năm 1992, Quỹ Bảo trợ trẻ em tỉnh Điện Biên đã triển khai chương trình hỗ trợ điểm vui chơi cho trẻ em. Tính đến nay, Quỹ BTTEVN đã hỗ trợ trên 200 điểm vui chơi cho khoảng gần 62.000 trẻ em được hưởng lợi, với tổng kinh phí hỗ trợ là hơn 18,6 tỷ đồng. Với sự hỗ trợ này, trẻ em ở vùng sâu, vùng xa, biên giới, hải đảo, vùng dân tộc ít người, vùng khó khăn được vui chơi giải trí, được tham gia các hoạt động văn hóa thể dục thể thao và đáp ứng nhu cầu vui chơi cho trẻ em sau giờ học và trong những ngày nghỉ, hạn chế trẻ em chơi các trò chơi nguy hiểm dễ xảy ra tai nạn thương tích.&nbsp;Kinh phí trung bình hỗ trợ cho 01 điểm vui chơi là 100 triệu đồng/điểm.&nbsp;
                                                </font></p><p style="text-align: justify;">
                                                    <font face="Times New Roman" size="3" color="#000000"><b><i> Chương trình Hỗ trợ trẻ em tham gia các sự kiện:</i></b><br>Hàng năm, Quỹ BTTEVN đã phối hợp với các địa phương tổ chức các sự kiện cho trẻ em có hoàn cảnh đặc biệt, khó khăn tham gia. Thông qua các sự kiện, trẻ em có hoàn cảnh đặc biệt, khó khăn đã được bày tỏ tâm tư, nguyện vọng của mình, khẳng định ý chí phấn đấu vươn lên vượt qua số phận, cảm ơn sự quan tâm của lãnh đạo Đảng, nhà nước, các Bộ, ngành và các nhà hảo tâm. Các sự kiện nổi bật trong năm Quỹ BTTEVN đã tổ chức:
                                                    </font></p><p style="text-align: justify;">
                                                        <font face="Times New Roman" size="3" color="#000000">+ Chương trình Vui tết Trung thu: Thông qua chương trình, đã có 1.570 em được trực tiếp nhận quà từ các đồng chí Lãnh đạo Đảng, Nhà nước với tổng trị giá 635,5 triệu đồng. <br>+ Tổ chức thăm và tặng quà cho trẻ em là con cán bộ, chiến sỹ đang làm nhiệm vụ bảo vệ chủ quyền biển đảo. <br>+ Ngày Quốc tế Thiếu nhi 1-6, tính đến nay Quỹ BTTEVN đã tổ chức 11 sự kiện (2008-2018), 605 trẻ em đại diện tiêu biểu cho 63 tỉnh, thành phố được gặp Chủ tịch nước tại Phủ Chủ tịch bày tỏ tâm tư, nguyện vọng, báo cáo thành tích học tập.
                                                        </font>
                                                    </p>
                                                    <p style="text-align: justify;">
                                                        <font face="Times New Roman" size="3" color="#000000"><b><i>Đối với Chương trình hỗ trợ đột xuất và các chương trình khác:&nbsp;</i></b>Hỗ trợ trẻ em bị ảnh hưởng bởi thiên tai, bão lũ, tai nạn; bị mắc bệnh hiểm nghèo chi phí điều trị cao để các em có điều kiện ổn định cuộc sống được Quỹ BTTEVN triển khai ngay từ ngày đầu thành lập. Trong hơn 26 năm hoạt động, Quỹ BTTEVN đã dành hơn 120 tỷ đồng cùng hàng triệu bộ quần áo, thuốc men, gạo, thực phẩm khác để hỗ trợ hàng triệu lượt trẻ em vùng bị thiên tai, bão lũ, trẻ em mắc bệnh hiểm nghèo. Các hoạt động hỗ trợ này đều được đến kịp thời để khắc phục hậu quả, giúp các em có điều kiện tiếp tục học tập và phát triển.
                                                        </font>
                                                    </p>

                                </div><!-- End_Module_544 -->
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <%-include("./Detail_Right")%>
                    <div class="clear">
                    </div>
                    <div id="dnn_VideoLeft" class="videoleft DNNEmptyPane">
                    </div>
                    <div id="dnn_VideoRight" class="videoright DNNEmptyPane">
                    </div>
                    <div class="clear">
                    </div>
                    <div id="dnn_VideoHomeTop" class="TNvideotop DNNEmptyPane">
                    </div>
                    <div class="clear">
                    </div>
                    <div id="dnn_Video_Left" class="TNVdieoleft DNNEmptyPane">
                    </div>
                    <div id="dnn_Video_Center" class="TNVideocenter DNNEmptyPane">
                    </div>
                    <div id="dnn_Video_Right" class="TNVideoright DNNEmptyPane">
                    </div>
                    <div class="clear">
                    </div>
                    <div id="dnn_Bottom" class="TNContent DNNEmptyPane">
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
        <%-include("./footer")%>
        <div id="scroll-top" style="display: none;">
            <a href="/gioi-thieu/lich-su-hinh-thanh-va-phat-trien_t120c65#top" tabindex="0">
                <div class="GotoTop">
                    Scroll</div>
            </a>
        </div>
        <div id="dnn_Contentpane" class="DNNEmptyPane">
        </div>
        <script type="text/javascript">
            function tninit() {
                jQuery(".smartlistnoheight").each(function () {
                    var me = jQuery(this);
                    me.customScroll();
                });
                tndate(".dt");
                jQuery(".dt").mask('99/99/9999');
                jQuery('img[src=]').attr('src', 'abc.jpg');
                jQuery('a img.ximg').error(function () {
                    jQuery(this).parent().hide();
                });

                jQuery('.imgnews').each(function () {
                    var me = jQuery(this);
                    me.find('img').error(function () {
                        me.hide();
                    });
                    var mheight = me.height();
                    var mwidth = me.width();
                    var mimg = me.find('img:first');
                    if (mimg.height() < mheight) {
                        mimg.css("width", "auto");
                        mimg.css("height", mheight);
                    }
                });
            }
    // jQuery(document).ready(function () {
    //     tninit();
    //     Sys.Application.add_load(tninit);
    // });
        </script>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery("#scroll-top").hide();
                jQuery(function () {
                    jQuery(window).scroll(function () {
                        if (jQuery(this).scrollTop() > 400) {
                            jQuery('#scroll-top').fadeIn();
                        } else {
                            jQuery('#scroll-top').fadeOut();
                        }
                    });
                    jQuery('#scroll-top a').click(function () {
                        jQuery('body,html').animate({
                            scrollTop: 0
                        }, 1000);
                        return false;
                    });
                });
            });
        </script>
        <script language="javascript" type="text/javascript">

            $(function () {
                $("#amazon_scroller3").amazon_scroller({
                    scroller_title_show: 'enable',
                    scroller_time_interval: '3000',
                    scroller_window_background_color: "none",
                    scroller_window_padding: '0',
                    scroller_border: "1px solid #c8c8c8",
                    scroller_images_width: '140',
                    scroller_images_height: '100',
                    scroller_title_size: '0',
                    scroller_title_color: '#0c6797',
                    scroller_show_count: '6',
                    directory: 'images'
                });
            });
        </script>

        <input name="ScrollTop" type="hidden" id="ScrollTop" value="0">
        <input name="__dnnVariable" type="hidden" id="__dnnVariable" autocomplete="off"
            value="`{`__scdoff`:`1`,`sf_siteRoot`:`/`,`sf_tabId`:`120`}">


        <!-- <script type="text/javascript" src="./js/initWidgets.js"></script></form> -->



        <div id="fancybox-tmp"></div>
        <div id="fancybox-loading">
            <div></div>
        </div>
        <div id="fancybox-overlay"></div>
        <div id="fancybox-wrap">
            <div id="fancybox-outer">
                <div class="fancybox-bg" id="fancybox-bg-n"></div>
                <div class="fancybox-bg" id="fancybox-bg-ne"></div>
                <div class="fancybox-bg" id="fancybox-bg-e"></div>
                <div class="fancybox-bg" id="fancybox-bg-se"></div>
                <div class="fancybox-bg" id="fancybox-bg-s"></div>
                <div class="fancybox-bg" id="fancybox-bg-sw"></div>
                <div class="fancybox-bg" id="fancybox-bg-w"></div>
                <div class="fancybox-bg" id="fancybox-bg-nw"></div>
                <div id="fancybox-content"></div><a id="fancybox-close"></a>
                <div id="fancybox-title"></div><a href="javascript:;" id="fancybox-left"><span class="fancy-ico"
                        id="fancybox-left-ico"></span></a><a href="javascript:;" id="fancybox-right"><span
                        class="fancy-ico" id="fancybox-right-ico"></span></a>
            </div>
        </div>
        <div id="eJOY__extension_root" style="all: unset;"></div>
</body>

</html>