<!DOCTYPE html>
<html lang="en">

<head id="Head">
    <%-include("./header")%>
</head>

<body id="Body">
    <%-include("./menu_tintuc")%>
    <div class="fmcenter">
        <div class="TNContent">
            <div id="dnn_Top" class="DNNEmptyPane">
            </div>
            <div class="clear">
            </div>
            <div class="TNMain">
                <div id="dnn_Top_1" class="TNTop1 DNNEmptyPane">
                </div>
                <div id="dnn_Top_2" class="TNTop2 DNNEmptyPane">
                </div>
                <div id="dnn_Top_3" class="TNTop3 DNNEmptyPane">
                </div>
                <div class="clear">
                </div>
                <div id="dnn_Middle_1" class="TNMiddle1 DNNEmptyPane">
                </div>
                <div id="dnn_Middle_2" class="TNMiddle2 DNNEmptyPane">
                </div>
                <div class="clear">
                </div>
                <div id="dnn_Detail_Left" class="TNDetailLeft">
                    <div class="DnnModule DnnModule-TNCategorySolution DnnModule-538"><a name="538"></a>
                        <div id="dnn_ctr538_ContentPane">
                            <!-- Start_Module_538 -->
                            <div id="dnn_ctr538_ModuleContent" class="DNNModuleContent ModTNCategorySolutionC">
                                <div style="clear:both;"></div>
                                <div class="header_danhmuc">
                                    <div class="hearder_tab_home">
                                        <a href="/"></a>
                                    </div>
                                    <div class="header_Shape"></div>
                                    <div class="hearder_tab_level1"><a
                                            href="/gioi-thieu_t58c24">&nbsp;Giới thiệu&nbsp;</a>
                                    </div>
                                    <div class="header_Shape"></div>
                                    <div class="hearder_tab_level1"><a
                                            href="/gioi-thieu/lich-su-hinh-thanh-va-phat-trien_t120c65">&nbsp;Lịch
                                            sử hình thành và phát triển&nbsp;</a> </div>
                                    <div class="header_warp_right"></div>
                                </div>

                                <div style="clear:both;"></div>
                                <div style="clear:both;"></div>

                                <span id="dnn_ctr538_Main_lblMessage" style="clear:both;"></span>


                            </div><!-- End_Module_538 -->
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="DnnModule DnnModule-TNHtml DnnModule-544"><a name="544"></a>
                        <div id="dnn_ctr544_ContentPane">
                            <!-- Start_Module_544 -->
                            <div id="dnn_ctr544_ModuleContent" class="DNNModuleContent ModTNHtmlC">
                                <span id="ctl00_contentMain_ctl00_lbContent">
                                    <div align="center">
                                        <p class="MsoNormal" style="text-align: justify;">
                                            <font color="#000000" face="Times New Roman" size="3"><br></font>
                                        </p>
                                        <p class="MsoNormal" style="text-align: justify;">
                                            <font color="#000000" face="Times New Roman" size="3">Quỹ Bảo trợ trẻ em
                                                Điện Biên (Quỹ BTTEDB) là Quỹ duy nhất của nhà nước thành lập theo
                                                Luật Bảo vệ, chăm sóc và giáo dục trẻ em (05/4/1992) để huy động
                                                nguồn lực trong nước và quốc tế hỗ trợ thực hiện các mục tiêu vì trẻ
                                                em của Chính phủ Việt Nam – Thực hiện Quyền trẻ em theo Công ước
                                                Quyền trẻ em mà Việt Nam đã ký và phê chuẩn (1990).</font>
                                        </p>
                                        <p class="MsoNormal" style="text-align: justify;">
                                            <font color="#000000" face="Times New Roman" size="3"
                                                style="font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-weight: inherit;">
                                                Ngay sau khi ký và phê chuẩn Công ước quốc tế về quyền trẻ em năm
                                                1990, Việt Nam đã ban hành nhiều văn bản pháp luật quan trọng liên
                                                quan đến lĩnh vực trẻ em như Luật Bảo vệ, chăm sóc và giáo dục trẻ
                                                em, Luật Phổ cập giáo dục tiểu học, xây dựng và thông qua Chương
                                                trình hành động quốc gia vì trẻ em giai đoạn 1991-2000, kiện toàn hệ
                                                thống Uỷ ban Bảo vệ và chăm sóc trẻ em (Ủy ban BVCSTE) từ Trung ương
                                                tới cơ sở. Điều này đã thể hiện sự quan tâm to lớn của Đảng và Nhà
                                                nước đối với sự nghiệp bảo vệ, chăm sóc và giáo dục trẻ em. Đồng
                                                thời để tăng cường hiệu quả về huy động nguồn lực ở trong nước và
                                                quốc tế hỗ trợ cho các mục tiêu chương trình bảo vệ, chăm sóc và
                                                giáo dục trẻ em, ngày 4/5/1992 Chủ nhiệm Uỷ ban BVCSTE Việt Nam đã
                                                ban hành Quyết định thành lập Quỹ Bảo trợ trẻ em tỉnh Điện Biên (Quỹ
                                                BTTEVN) và ngày 19/4/1994 ban hành Điều lệ Quỹ Bảo trợ trẻ em Việt
                                                Nam số 150/UB.&nbsp;</font><span
                                                style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">Quỹ
                                                BTTEVN ra đời trên cơ sở Luật Bảo vệ, chăm sóc, giáo dục trẻ em năm
                                                1991 theo Điều 22 Luật Bảo vệ, chăm sóc, giáo dục trẻ em (nay là
                                                Luật trẻ em năm 2016).</span>
                                        </p>
                                        <p class="MsoNormal" style="text-align: justify;">
                                            <font color="#000000" face="Times New Roman" size="3">Theo Luật Trẻ em
                                                năm 2016 có hiệu lực từ ngày 01/7/2017 thay thế Luật Bảo vệ, chăm
                                                sóc và giáo dục trẻ em tại Điều 95 quy định: <b><i>“Quỹ Bảo trợ trẻ
                                                        em được thành lập nhằm mục đích vận động sự đóng góp tự
                                                        nguyện của cơ quan, tổ chức, cá nhân ở trong nước và nước
                                                        ngoài, viện trợ quốc tế và hỗ trợ của ngân sách nhà nước
                                                        trong trường hợp cần thiết để thực hiện các mục tiêu về trẻ
                                                        em được nhà nước ưu tiên”.</i></b></font>
                                        </p>
                                        <p class="MsoNormal" style="text-align: justify;"><span
                                                style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">Quỹ
                                                Bảo trợ trẻ em Điện Biên (Quỹ BTTE Điện Biên) có Hội đồng Bảo trợ,
                                                hiện nay đồng chí Đặng Thị Ngọc Thịnh – Phó Chủ tịch nước CHXHCNVN
                                                là Chủ tịch Hội đồng Bảo trợ và 20 thành viên là những chính khách,
                                                người có uy tín, vị thế cao là đại diện lãnh đạo Bộ, ngành LĐTBXH,
                                                Tài chính, Ngân hàng, Ngoại giao, Giáo dục, Y tế, Nội vụ, các tập
                                                đoàn kinh tế lớn…</span></p>
                                        <p class="MsoNormal" style="text-align: justify;">
                                            <font color="#000000" face="Times New Roman" size="3">Trong hơn 26 năm
                                                hoạt động, với phương châm “Tận tâm – Minh bạch – Kịp thời – Cùng
                                                tham gia”, Quỹ BTTE Điện Biên đã vận động được hơn <b>1.150 tỷ
                                                    đồng</b> cùng hàng trăm ngàn tấn hàng hóa và hàng triệu lượt
                                                người tham gia bảo vệ, chăm sóc và giáo dục cho trên <b>7 triệu lượt
                                                </b>trẻ em có hoàn cảnh đặc biệt, khó khăn, Quỹ Bảo trợ trẻ em các
                                                cấp đã huy động được gần <b>6.500 tỷ đồng</b> hỗ trợ cho trên <b>30
                                                    triệu lượt</b> trẻ em có hoàn cảnh đặc biệt, khó khăn trên toàn
                                                quốc. Từ khi thành lập đến nay, Quỹ BTTE Điện Biên đã và đang làm tốt
                                                vai trò, sứ mệnh của mình là cầu nối giữa những tấm lòng vàng với
                                                trẻ em Điện Biên nói chung và trẻ em nghèo, trẻ em có hoàn cảnh đặc
                                                biệt nói riêng. Với những thành tích đạt được, Quỹ BTTE Điện Biên
                                                xứng đáng với các phần thưởng cao quý của Đảng, Chính phủ trao tặng
                                                như Huân chương Lao động Hạng Ba, Hạng Hai, Hạng Nhất; Cờ Thi đua
                                                Chính phủ; Bằng khen của Thủ tướng Chính phủ…</font>
                                        </p>
                                        <div style="text-align: justify;"><br></div>
                                        <p class="MsoNormal" style="text-align: justify;">
                                            <font color="#000000" face="Times New Roman" size="3"><b>Giai đoạn từ
                                                    năm 1992 – 2002 (thuộc Ủy ban Bảo vệ và chăm sóc trẻ em Điện Biên
                                                    quản lý)</b><br>Hệ thống Quỹ BTTE giai đoạn này đã được thành
                                                lập tại 431/609 tỉnh thành. Số lượng cán bộ làm việc chuyên trách
                                                của Quỹ BTTE từ Trung ương đến cơ sở có gần 1.000 người. Tổng số
                                                kinh phí huy động được trong giai đoạn này là khoảng 435 tỷ đồng.
                                                Trong đó, Quỹ BTTE Điện Biên huy động được khoảng 100 tỷ đồng. Tổng
                                                số lượt trẻ em được hỗ trợ là khoảng 3 triệu em (trung bình hỗ trợ
                                                khoảng 300.000 em/năm).&nbsp;</font><span
                                                style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">Quỹ
                                                Bảo trợ trẻ em Việt Nam đã vinh dự được đón nhận Huân chương Lao
                                                động Hạng III của Chủ tịch nước CHXHCN Việt Nam (Quyết định số
                                                36/KT-CT ngày 05/02/2001).</span>
                                        </p>
                                        <p class="MsoNormal" style="text-align: justify;">
                                            <font color="#000000" face="Times New Roman" size="3"><b>Giai đoạn từ
                                                    năm 2002 – 2007 (thuộc Ủy ban Dân số, Gia đình và Trẻ em quản
                                                    lý)</b></font>
                                        </p>
                                        <p class="MsoNormal" style="text-align: justify;">
                                            <font color="#000000" face="Times New Roman" size="3">Năm 2002 hợp nhất
                                                Uỷ Ban BVCSTEVN và Uỷ Ban Quốc gia Dân số, Kế hoạch hoá gia đình
                                                thành Uỷ ban Dân số, Gia đình và Trẻ em. Theo Quyết định của Quốc
                                                hội, Quỹ đã hoạt động theo Quyết định số135/2003/QĐ-TTg ngày 09
                                                tháng 7 năm 2003 của Thủ tướng Chính phủ về củng cố, phát triển Quỹ
                                                Bảo trợ trẻ em Điện Biên. <br>Tính đến năm 2007, số lượng Quỹ BTTE
                                                thành lập ở cấp huyện chiếm 95% và số lượng Quỹ BTTE thành lập ở cấp
                                                xã phường chiếm 90% trên tổng số. Số lượng cán bộ chuyên trách từ
                                                Trung ương tới xã là hơn 10.000 người. Tổng số kinh phí huy động
                                                trong giai đoạn này là hơn 1.471 tỷ đồng (trong đó Quỹ BTTEDB huy
                                                động được 203 tỷ đồng). Tổng số lượt trẻ em được hỗ trợ là khoảng 12
                                                triệu em (Trung bình hỗ trợ khoảng 2 triệu em/năm)<br>Trong giai
                                                đoạn này, Quỹ Bảo trợ trẻ em tỉnh Điện Biên đã vinh dự được Chủ tịch nước
                                                CHXHCN Việt Nam tặng thưởng Huân chương Lao động Hạng Nhì (Quyết
                                                định số 1004/KT-CT ngày 8/7/2009).</font>
                                        </p>
                                        <p class="MsoNormal" style="text-align: justify;">
                                            <font color="#000000" face="Times New Roman" size="3">Trong hai giai
                                                đoạn trên, hoạt động hỗ trợ trẻ em tập trung vào: Cấp phát sữa, thực
                                                phẩm bổ sung để phòng chống suy dinh dưỡng, thuốc, trang thiết bị
                                                phục vụ chăm sóc sức khỏe (dây truyền sản xuất vắc xin viêm não,
                                                trạm y tế các xã vùng đặc biệt khó khăn, trang thiết bị phục hồi
                                                chức năng, phẫu thuật tim...), phục hồi chức năng cho trẻ em nạn
                                                nhân chất độc da cam, hỗ trợ học bổng, ngăn ngừa trẻ em lang thang,
                                                đưa trẻ em lang thang hồi gia, xây dựng công trình nước sạch, điểm
                                                vui chơi ở vùng biên giới, Tây nguyên...</font>
                                        </p>
                                        <p class="MsoNormal" style="text-align: justify;">
                                            <font color="#000000" face="Times New Roman" size="3"><b>Giai đoạn từ
                                                    tháng 8/2007 đến nay (Thuộc Bộ Lao động – Thương binh và Xã hội
                                                    quản lý)</b><br>Năm 2007 thực hiện Quyết định số 1001/QĐ- TTg
                                                ngày 08/8/2007 của Thủ tướng Chính phủ về việc giải thể Uỷ ban
                                                DSGĐTE. Quỹ BTTE Điện Biên là đơn vị tổ chức sự nghiệp Nhà nước thuộc
                                                Bộ Lao động- Thương binh và Xã hội (Bộ LĐTBXH), theo Nghị định số
                                                186/2007/NĐ-CP ngày 25/12/2007của Chính phủ (hiện nay là Nghị định
                                                106/2012/NĐ-CP ngày 20/12/2012).</font>
                                        </p>
                                        <p class="MsoNormal" style="text-align: justify;">
                                            <font color="#000000" face="Times New Roman" size="3">Tính đến năm 2013,
                                                số lượng Quỹ BTTE thành lập ở cấp huyện chiếm 87% (618/708 huyện có
                                                Quỹ BTTE) và số lượng Quỹ BTTE thành lập ở cấp xã phường chiếm 60%
                                                (6.632/11.162 xã có Quỹ BTTE). Số lượng cán bộ làm việc tại hệ thống
                                                Quỹ là 1.250 người. Tính đến hết năm 2014, tổng số kinh phí huy động
                                                trong giai đoạn này là hơn 3.110 tỷ đồng (trong đó Quỹ BTTEDB vận
                                                động được 515 tỷ). Tổng số lượt trẻ em được hỗ trợ là khoảng 15
                                                triệu em (Trung bình hỗ trợ khoảng 2,14 triệu lượt trẻ em/năm)
                                            </font>
                                        </p>
                                        <p class="MsoNormal" style="text-align: justify;">
                                            <font color="#000000" face="Times New Roman" size="3"> Hoạt động của Quỹ
                                                tập trung vào hỗ trợ thực hiện Quyền trẻ em đối với nhóm trẻ em có
                                                hoàn có hoàn cảnh đặc biệt, khó khăn thông qua các hoạt động: Chăm
                                                sóc sức khoẻ và dinh dưỡng - Thực hiện Quyền được sống (phẫu thuật
                                                tim, phẫu thuật mắt, phẫu thuật nụ cười, phẫu thuật dị tật vận động,
                                                xây dựng công trình nước sạch, cấp phát sữa và chế phẩm dinh
                                                dưỡng...); Hỗ trợ giáo dục - Thực hiện Quyền được phát triển (Hỗ trợ
                                                học bổng, chương trình “Cùng em đến trường”, Hỗ trợ đỡ đầu và bảo
                                                trợ dài hạn, Cung cấp dụng cụ học tập, cấp xe đạp, Xây dựng sửa chữa
                                                lớp học và nhà nội trú...); Hoạt động Bảo vệ trẻ em - Thực hiện
                                                Quyền được bảo vệ (Hỗ trợ Trung tâm Phục hồi chức năng tại cộng
                                                đồng, cấp xe lăn, cặp phao cứu sinh...); Hoạt động thực hiện Quyền
                                                được tham gia của trẻ em – thực hiện Quyền được tham gia (Hỗ trợ
                                                điểm vui chơi, hỗ trợ trẻ em tham gia các sự kiện...); Hỗ trợ đột
                                                xuất và các hỗ trợ khác.<br></font>
                                        </p>
                                    </div>
                                </span>

                                <span id="dnn_ctr544_Main_lblMessage" style="clear: both;"></span>

                            </div><!-- End_Module_544 -->
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
                <%-include("./Detail_Right")%>
                <div class="clear">
                </div>
                <div id="dnn_VideoLeft" class="videoleft DNNEmptyPane">
                </div>
                <div id="dnn_VideoRight" class="videoright DNNEmptyPane">
                </div>
                <div class="clear">
                </div>
                <div id="dnn_VideoHomeTop" class="TNvideotop DNNEmptyPane">
                </div>
                <div class="clear">
                </div>
                <div id="dnn_Video_Left" class="TNVdieoleft DNNEmptyPane">
                </div>
                <div id="dnn_Video_Center" class="TNVideocenter DNNEmptyPane">
                </div>
                <div id="dnn_Video_Right" class="TNVideoright DNNEmptyPane">
                </div>
                <div class="clear">
                </div>
                <div id="dnn_Bottom" class="TNContent DNNEmptyPane">
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
    <%-include("./footer")%>
    <div id="scroll-top" style="display: none;">
        <a href="/" tabindex="0">
            <div class="GotoTop">
                Scroll</div>
        </a>
    </div>
    <div id="dnn_Contentpane" class="DNNEmptyPane">
    </div>
    <script type="text/javascript">
        function tninit() {
            jQuery(".smartlistnoheight").each(function () {
                var me = jQuery(this);
                me.customScroll();
            });
            tndate(".dt");
            jQuery(".dt").mask('99/99/9999');
            jQuery('img[src=]').attr('src', 'abc.jpg');
            jQuery('a img.ximg').error(function () {
                jQuery(this).parent().hide();
            });

            jQuery('.imgnews').each(function () {
                var me = jQuery(this);
                me.find('img').error(function () {
                    me.hide();
                });
                var mheight = me.height();
                var mwidth = me.width();
                var mimg = me.find('img:first');
                if (mimg.height() < mheight) {
                    mimg.css("width", "auto");
                    mimg.css("height", mheight);
                }
            });
        }
    // jQuery(document).ready(function () {
    //     tninit();
    //     Sys.Application.add_load(tninit);
    // });
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("#scroll-top").hide();
            jQuery(function () {
                jQuery(window).scroll(function () {
                    if (jQuery(this).scrollTop() > 400) {
                        jQuery('#scroll-top').fadeIn();
                    } else {
                        jQuery('#scroll-top').fadeOut();
                    }
                });
                jQuery('#scroll-top a').click(function () {
                    jQuery('body,html').animate({
                        scrollTop: 0
                    }, 1000);
                    return false;
                });
            });
        });
    </script>
    <script language="javascript" type="text/javascript">

        $(function () {
            $("#amazon_scroller3").amazon_scroller({
                scroller_title_show: 'enable',
                scroller_time_interval: '3000',
                scroller_window_background_color: "none",
                scroller_window_padding: '0',
                scroller_border: "1px solid #c8c8c8",
                scroller_images_width: '140',
                scroller_images_height: '100',
                scroller_title_size: '0',
                scroller_title_color: '#0c6797',
                scroller_show_count: '6',
                directory: 'images'
            });
        });
    </script>

    <input name="ScrollTop" type="hidden" id="ScrollTop" value="0">
    <input name="__dnnVariable" type="hidden" id="__dnnVariable" autocomplete="off"
        value="`{`__scdoff`:`1`,`sf_siteRoot`:`/`,`sf_tabId`:`120`}">

    <div id="fancybox-tmp"></div>
    <div id="fancybox-loading">
        <div></div>
    </div>
    <div id="fancybox-overlay"></div>
    <div id="fancybox-wrap">
        <div id="fancybox-outer">
            <div class="fancybox-bg" id="fancybox-bg-n"></div>
            <div class="fancybox-bg" id="fancybox-bg-ne"></div>
            <div class="fancybox-bg" id="fancybox-bg-e"></div>
            <div class="fancybox-bg" id="fancybox-bg-se"></div>
            <div class="fancybox-bg" id="fancybox-bg-s"></div>
            <div class="fancybox-bg" id="fancybox-bg-sw"></div>
            <div class="fancybox-bg" id="fancybox-bg-w"></div>
            <div class="fancybox-bg" id="fancybox-bg-nw"></div>
            <div id="fancybox-content"></div><a id="fancybox-close"></a>
            <div id="fancybox-title"></div><a href="javascript:;" id="fancybox-left"><span class="fancy-ico"
                    id="fancybox-left-ico"></span></a><a href="javascript:;" id="fancybox-right"><span class="fancy-ico"
                    id="fancybox-right-ico"></span></a>
        </div>
    </div>
    <div id="eJOY__extension_root" style="all: unset;"></div>
</body>

</html>