<script src="/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="/js/jquery-migrate.min.js" type="text/javascript"></script>
<link href="/stylesheets/menucss.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/news.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/common.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen">
<script type="text/javascript" src="/js/jquery.tn.pack.js"></script>
<script type="text/javascript" src="/js/amazon_scroller.js"></script>

<div class="TNHeader">
    <div class="TNHeaderTop">
        <div class="TNContent">
            <div id="dnn_Link" class="TNHeadLeft">
                <div class="DnnModule DnnModule-TNHtml DnnModule-515">
                    <a name="515"></a>
                    <div id="dnn_ctr515_ContentPane">
                        <!-- Start_Module_515 -->
                        <div id="dnn_ctr515_ModuleContent" class="DNNModuleContent ModTNHtmlC">
                            <div style="margin:1px 0">
                                <a href="http://www.molisa.gov.vn/" target="_blank" title="Bộ lao động thương binh và xã hội">
                                    <img src="/images/i_ldxh.png">
                                </a>
                            </div>

                            <span id="dnn_ctr515_Main_lblMessage" style="clear: both;"></span>

                        </div>
                        <!-- End_Module_515 -->
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
            <div class="TNHeadRight">
                <div id="dnn_SearchTop" class="TNSearch">
                    <div class="DnnModule DnnModule-TNNewsSolution DnnModule-514">
                        <a name="514"></a>
                        <div id="dnn_ctr514_ContentPane">
                            <form action="/thong-tin-tre-em/page/1" method="GET">
                                <div id="dnn_ctr514_ModuleContent" class="DNNModuleContent ModTNNewsSolutionC">
                                    <div class="form-search">
                                        <label for="tukhoatimkiem" class="placehodercss1"><span
                                                id="dnn_ctr514_Main_UserNewsSearch_label" for="tukhoatimkiem">Nhập
                                                từ khóa tìm kiếm ...</span></label>
                                        <input type="text" id="dnn_ctr514_Main_UserNewsSearch_txtKeyword" class="txt-search tukhoatimkiem" name="search" required>
                                        <button type="submit" style="background-image: url(/images/newsimage/search_t1.png);" id="dnn_ctr514_Main_UserNewsSearch__SearchButton" class="bt-search">
                                        </button>
                                    </div>
                                    <script src="/js/jquery.infieldlabel.min.js" type="text/javascript"></script>
                                    <script type="text/javascript">
                                        $(document).ready(function() {
                                            startplacehoders1();
                                        });

                                        function startplacehoders1() {
                                            $("label").inFieldLabels();
                                            jQuery(".placehodercss1").click(function() {
                                                jQuery(this).next().focus();
                                            });
                                        }
                                    </script>
                                </div>
                            </form>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
    <div class="TNContent">
        <div style="position: relative">
            <div id="dnn_Logo" class="TNLogo">
                <div class="DnnModule DnnModule-TNHtml DnnModule-513">
                    <a name="513"></a>
                    <div id="dnn_ctr513_ContentPane">
                        <!-- Start_Module_513 -->
                        <div id="dnn_ctr513_ModuleContent" class="DNNModuleContent ModTNHtmlC">
                            <a href="/"><img style="margin: 10px 0px;" alt="" src="/images/HTML/Logo.png" height="58" width="323"></a>

                            <span id="dnn_ctr513_Main_lblMessage" style="clear: both;"></span>

                        </div>
                        <!-- End_Module_513 -->
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
            <div id="dnn_Menu" class="TNMenu">
                <div class="DnnModule DnnModule-TNCategorySolution DnnModule-516">
                    <a name="516"></a>
                    <div id="dnn_ctr516_ContentPane">
                        <!-- Start_Module_516 -->
                        <div id="dnn_ctr516_ModuleContent" class="DNNModuleContent ModTNCategorySolutionC">

                            <div class="simplemenu">
                                <ul>
                                    <li IconUrl="" Contents="" XTarget="" Role="" class="KDPLhome" catid=""><a href="/">Home</a></li>
                                    <li IconUrl="" Contents="" XTarget="" Role="" class="" catid=""><a href="/">Trang
                                            chủ</a></li>
                                    <li IconUrl="" Contents="" XTarget="" Role="" class="" catid="24"><a href="/gioi-thieu">Giới thiệu</a>
                                        <ul>
                                            <li IconUrl="" Contents="" XTarget="" Role="" class="" catid="65"><a href="/lich-su-hinh-thanh">Lịch
                                                    sử hình thành và phát triển</a></li>
                                            <li IconUrl="" Contents="" XTarget="" Role="" class="" catid="64"><a href="/chuc-nang-nhiem-vu">Chức năng nhiệm
                                                    vụ</a></li>
                                            <li IconUrl="" Contents="" XTarget="" Role="" class="" catid="10"><a href="/co-cau-to-chuc">Cơ cấu tổ chức</a>
                                            </li>
                                            <li IconUrl="/Portals/0/CATEGORY_IMAGE/nghien-cuu-khoa-hoc.jpg" Contents="" XTarget="" Role="" class="" catid="11"><a href="/cac-hoat-dong-ho-tro-tre-em">Các
                                                    hoạt động hỗ trợ trẻ em</a></li>
                                        </ul>
                                    </li>
                                    <li IconUrl="" Contents="" XTarget="" Role="" class="" catid="31"><a href="/tin-tuc-su-kien">Tin tức - Sự kiện</a>
                                        <ul>
                                            <li catid="33"><a href="/tin-tuc-su-kien/quyen-song-con">Quyền sống
                                                    còn</a></li>
                                            <li catid="32"><a href="/tin-tuc-su-kien/quyen-phat-trien">Quyền phát
                                                    triển</a></li>
                                            <li catid="14"><a href="/tin-tuc-su-kien/quyen-bao-ve">Quyền
                                                    bảo vệ</a></li>
                                            <li catid="21"><a href="/tin-tuc-su-kien/quyen-tham-gia">Quyền tham
                                                    gia</a></li>
                                            <li catid="22"><a href="/tin-tuc-su-kien/cac-chuong-trinh-khac">Các
                                                    chương trình khác</a></li>
                                        </ul>
                                    </li>
                                    <li IconUrl="" Contents="" XTarget="" Role="" class="" catid="72"><a href="/thong-tin-tre-em">Thông tin trẻ em</a>
                                        <ul>
                                            <li IconUrl="" Contents="" XTarget="" Role="" class="" catid="74"><a href="/thong-tin-tre-em/tre-em-can-giup-do">Trẻ em cần giúp đỡ</a>
                                            </li>
                                            <li IconUrl="" Contents="" XTarget="" Role="" class="" catid="73"><a href="/thong-tin-tre-em/tre-em-da-duoc-giup-do">Trẻ em đã được giúp
                                                    đỡ</a></li>
                                        </ul>
                                    </li>
                                    <li IconUrl="" Contents="" XTarget="" Role="" class="" catid="30"><a href="/nha-tai-tro">Nhà tài trợ</a></li>
                                    <!-- <li IconUrl="/images/tnlogo.png" Contents="" XTarget="_blank" Role="" class="" catid="">
                                        <a href="#">Liên hệ</a></li> -->
                                </ul>
                            </div>
                        </div>
                        <!-- End_Module_516 -->
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
</div>