<!DOCTYPE html>
<html lang="en">

<head id="Head">
    <%-include("./header")%>
</head>

<body id="Body">

    <form method="post" action="/gioi-thieu/gioi-thieu/chuc-nang-nhiem-vu_t61c64" id="Form"
        enctype="multipart/form-data">
        <div class="aspNetHidden">
            <input type="hidden" name="StylesheetManager_TSSM" id="StylesheetManager_TSSM" value="">
            <input type="hidden" name="ScriptManager_TSM" id="ScriptManager_TSM"
                value=";;System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35:en:22727c22-244c-4537-8243-3c42cc5b20e2:ea597d4b:b25378d2">
            <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="">
            <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="">
            <input type="hidden" name="__VIEWSTATE_CACHEKEY" id="__VIEWSTATE_CACHEKEY"
                value="VS_vdvsgva2kykzfe3n04va0ofy_637100666553230197">
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="">
        </div>

        <script type="text/javascript">
            //<![CDATA[
            var theForm = document.forms['Form'];
            if (!theForm) {
                theForm = document.Form;
            }
            function __doPostBack(eventTarget, eventArgument) {
                if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
                    theForm.__EVENTTARGET.value = eventTarget;
                    theForm.__EVENTARGUMENT.value = eventArgument;
                    theForm.submit();
                }
            }
//]]>
        </script>

        <script type="text/javascript">
            //<![CDATA[
            var __cultureInfo = { "name": "vi-VN", "numberFormat": { "CurrencyDecimalDigits": 2, "CurrencyDecimalSeparator": ",", "IsReadOnly": false, "CurrencyGroupSizes": [3], "NumberGroupSizes": [3], "PercentGroupSizes": [3], "CurrencyGroupSeparator": ".", "CurrencySymbol": "₫", "NaNSymbol": "NaN", "CurrencyNegativePattern": 8, "NumberNegativePattern": 1, "PercentPositivePattern": 0, "PercentNegativePattern": 0, "NegativeInfinitySymbol": "-Infinity", "NegativeSign": "-", "NumberDecimalDigits": 2, "NumberDecimalSeparator": ",", "NumberGroupSeparator": ".", "CurrencyPositivePattern": 3, "PositiveInfinitySymbol": "Infinity", "PositiveSign": "+", "PercentDecimalDigits": 2, "PercentDecimalSeparator": ",", "PercentGroupSeparator": ".", "PercentSymbol": "%", "PerMilleSymbol": "‰", "NativeDigits": ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"], "DigitSubstitution": 1 }, "dateTimeFormat": { "AMDesignator": "SA", "Calendar": { "MinSupportedDateTime": "\/Date(-62135596800000)\/", "MaxSupportedDateTime": "\/Date(253402275599999)\/", "AlgorithmType": 1, "CalendarType": 1, "Eras": [1], "TwoDigitYearMax": 2029, "IsReadOnly": false }, "DateSeparator": "/", "FirstDayOfWeek": 1, "CalendarWeekRule": 0, "FullDateTimePattern": "dd MMMM yyyy h:mm:ss tt", "LongDatePattern": "dd MMMM yyyy", "LongTimePattern": "h:mm:ss tt", "MonthDayPattern": "dd MMMM", "PMDesignator": "CH", "RFC1123Pattern": "ddd, dd MMM yyyy HH\u0027:\u0027mm\u0027:\u0027ss \u0027GMT\u0027", "ShortDatePattern": "dd/MM/yyyy", "ShortTimePattern": "h:mm tt", "SortableDateTimePattern": "yyyy\u0027-\u0027MM\u0027-\u0027dd\u0027T\u0027HH\u0027:\u0027mm\u0027:\u0027ss", "TimeSeparator": ":", "UniversalSortableDateTimePattern": "yyyy\u0027-\u0027MM\u0027-\u0027dd HH\u0027:\u0027mm\u0027:\u0027ss\u0027Z\u0027", "YearMonthPattern": "MMMM yyyy", "AbbreviatedDayNames": ["CN", "Hai", "Ba", "Tư", "Năm", "Sáu", "Bảy"], "ShortestDayNames": ["C", "H", "B", "T", "N", "S", "B"], "DayNames": ["Chủ Nhật", "Thứ Hai", "Thứ Ba", "Thứ Tư", "Thứ Năm", "Thứ Sáu", "Thứ Bảy"], "AbbreviatedMonthNames": ["Thg1", "Thg2", "Thg3", "Thg4", "Thg5", "Thg6", "Thg7", "Thg8", "Thg9", "Thg10", "Thg11", "Thg12", ""], "MonthNames": ["Tháng Giêng", "Tháng Hai", "Tháng Ba", "Tháng Tư", "Tháng Năm", "Tháng Sáu", "Tháng Bảy", "Tháng Tám", "Tháng Chín", "Tháng Mười", "Tháng Mười Một", "Tháng Mười Hai", ""], "IsReadOnly": false, "NativeCalendarName": "Dương Lịch", "AbbreviatedMonthGenitiveNames": ["Thg1", "Thg2", "Thg3", "Thg4", "Thg5", "Thg6", "Thg7", "Thg8", "Thg9", "Thg10", "Thg11", "Thg12", ""], "MonthGenitiveNames": ["Tháng Giêng", "Tháng Hai", "Tháng Ba", "Tháng Tư", "Tháng Năm", "Tháng Sáu", "Tháng Bảy", "Tháng Tám", "Tháng Chín", "Tháng Mười", "Tháng Mười Một", "Tháng Mười Hai", ""] }, "eras": [1, "A.D.", null, 0] };//]]>
        </script>

        <div class="aspNetHidden">

            <input type="hidden" name="__VIEWSTATEENCRYPTED" id="__VIEWSTATEENCRYPTED" value="">
            <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION"
                value="8GGaNs26Z3t9m/fmn2AOg6r5AdvQWsRAnq5XjYgh2ARkpsQ74j6plp4A6XQ2OkF3MfxX9El76+w8XnepOURod+pgGTt9GgbVVLfz1tSH8EwCLnr/tB05VBw4kg+VLkZd9G7IWEgtqQ7zBcicjyyAIdV2il3p077HTIP9ys07TBKit9vGWTHiMNEVHa8=">
        </div>
        <!-- <script src="./js/dnn.js" type="text/javascript"></script> -->
        <script src="./js/dnn.servicesframework.js" type="text/javascript"></script>
        <script src="./js/dnncore.js"
            type="text/javascript"></script>

        <%-include("./menu")%>

        <div class="fmcenter">
            <div class="TNContent">
                <div id="dnn_Top" class="DNNEmptyPane">
                </div>
                <div class="clear">
                </div>
                <div class="TNMain">
                    <div id="dnn_Top_1" class="TNTop1 DNNEmptyPane">
                    </div>
                    <div id="dnn_Top_2" class="TNTop2 DNNEmptyPane">
                    </div>
                    <div id="dnn_Top_3" class="TNTop3 DNNEmptyPane">
                    </div>
                    <div class="clear">
                    </div>
                    <div id="dnn_Middle_1" class="TNMiddle1 DNNEmptyPane">
                    </div>
                    <div id="dnn_Middle_2" class="TNMiddle2 DNNEmptyPane">
                    </div>
                    <div class="clear">
                    </div>
                    <div id="dnn_Detail_Left" class="TNDetailLeft">
                        <div class="DnnModule DnnModule-TNCategorySolution DnnModule-538"><a name="538"></a>
                            <div id="dnn_ctr538_ContentPane">
                                <!-- Start_Module_538 -->
                                <div id="dnn_ctr538_ModuleContent" class="DNNModuleContent ModTNCategorySolutionC">



                                    <div style="clear:both;"></div>



                                    <div class="header_danhmuc">
                                        <div class="hearder_tab_home">
                                            <a href="/"></a>
                                        </div>
                                        <div class="header_Shape"></div>
                                        <div class="hearder_tab_level1"><a
                                                href="/gioi-thieu_t58c24">&nbsp;Giới thiệu&nbsp;</a>
                                        </div>
                                        <div class="header_Shape"></div>
                                        <div class="hearder_tab_level1"><a
                                                href="/gioi-thieu/chuc-nang-nhiem-vu_t58c64">&nbsp;Chức
                                                năng nhiệm vụ&nbsp;</a> </div>
                                        <div class="header_warp_right"></div>
                                    </div>
                                    <div style="clear:both;"></div>



                                    <div style="clear:both;"></div>





                                    <span id="dnn_ctr538_Main_lblMessage" style="clear:both;"></span>


                                </div><!-- End_Module_538 -->
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="DnnModule DnnModule-TNHtml DnnModule-843"><a name="843"></a>
                            <div id="dnn_ctr843_ContentPane">
                                <!-- Start_Module_843 -->
                                <div id="dnn_ctr843_ModuleContent" class="DNNModuleContent ModTNHtmlC">
                                    <table style="width: 483.1pt; border-collapse: collapse;" cellpadding="0"
                                        cellspacing="0" border="0" width="644">
                                        <tbody>
                                            <tr>
                                                <td style="width: 192.4pt; padding: 0in 5.4pt;" align="center"
                                                    valign="top" width="257">
                                                    <font color="#000000" face="Times New Roman" size="3"><strong>BỘ LAO
                                                            ĐỘNG - THƯƠNG BINH VÀ XÃ HỘI<br>
                                                        </strong>
                                                    </font>
                                                    <p><strong>
                                                            <font color="#000000" face="Times New Roman" size="3">
                                                            </font>
                                                        </strong></p>
                                                    <span id="ctl00_contentMain_ctl00_lbContent">
                                                        <font color="#000000" face="Times New Roman" size="3">Số:
                                                            1216&nbsp;/ QĐ-LĐTBXH</font>
                                                    </span>
                                                </td>
                                                <td style="width: 290.7pt; padding: 0in 5.4pt;" valign="top"
                                                    width="388">
                                                    <p align="center">
                                                        <font color="#000000" face="Times New Roman" size="3">
                                                            <strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br>
                                                                Độc lập - Tự do - Hạnh phúc</strong></font>
                                                    </p>
                                                    <p align="center"><em style="text-align: left;">
                                                            <font color="#000000" face="Times New Roman" size="3">Hà
                                                                Nội, ngày 23 tháng 9 năm 2014</font>
                                                        </em></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p style="text-align: center;" align="center">
                                        <font color="#000000" face="Times New Roman" size="3"><br></font>
                                    </p>
                                    <p style="text-align: center;" align="center">
                                        <font color="#000000" face="Times New Roman" size="3"><b>QUYẾT ĐỊNH</b></font>
                                    </p>
                                    <p style="text-align: center;" align="center"><span style="font-weight: normal;">
                                            <font color="#000000" face="Times New Roman" size="3">Về việc quy định chức
                                                năng, nhiệm vụ, quyền hạn</font>
                                        </span></p>
                                    <p style="text-align: center;" align="center"><span style="font-weight: normal;">
                                            <font color="#000000" face="Times New Roman" size="3">và cơ cấu tổ chức của
                                                Quỹ Bảo trợ trẻ em tỉnh Điện Biên.</font>
                                        </span></p>
                                    <p style="text-align: center;" align="center">
                                        <font color="#000000" face="Times New Roman" size="3">BỘ TRƯỞNG BỘ LAO ĐỘNG –
                                            THƯƠNG BINH VÀ XÃ HỘI</font>
                                    </p>

                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;"><span
                                            style="line-height: 130%; font-weight: normal;">
                                            <font color="#000000" face="Times New Roman" size="3">Căn cứ Luật tổ chức
                                                Chính phủ ngày 25/12/2001;</font>
                                        </span></p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;"><span
                                            style="line-height: 130%; font-weight: normal;">
                                            <font color="#000000" face="Times New Roman" size="3">Căn
                                                cứ Nghị định số 36/2012/NĐ-CP ngày 18/4/2012 của Chính phủ quy định
                                                chức năng, nhiệm vụ, quyền hạn và cơ cấu tổ chức của Bộ, cơ quan ngang
                                                Bộ;</font>
                                        </span></p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;"><span
                                            style="line-height: 130%; font-weight: normal;">
                                            <font color="#000000" face="Times New Roman" size="3">Căn
                                                cứ Nghị định số 106/2012/NĐ-CP ngày 20/12/2012 của Chính phủ quy định
                                                chức năng, nhiệm vụ, quyền hạn và cơ cấu tổ chức của Bộ Lao động –
                                                Thương binh và Xã hội;</font>
                                        </span></p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;"><span
                                            style="line-height: 130%; font-weight: normal;">
                                            <font color="#000000" face="Times New Roman" size="3">Theo đề nghị của Vụ
                                                trưởng Vụ Tổ chức cán bộ,</font>
                                        </span></p>

                                    <p style="text-align: center; text-indent: 28.05pt; line-height: 130%;"
                                        align="center"><span style="line-height: 130%;">
                                            <font color="#000000" face="Times New Roman" size="3">QUYẾT ĐỊNH:</font>
                                        </span></p>

                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;">
                                        <font color="#000000" face="Times New Roman" size="3"><span
                                                style="line-height: 130%;">Điều 1.</span><span
                                                style="line-height: 130%; font-weight: normal;">
                                                Quỹ Bảo trợ trẻ em tỉnh Điện Biên là đơn vị sự nghiệp thuộc Bộ Lao động –
                                                Thương binh và xã hội có chức năng vận động các nguồn tài trợ trong nước
                                                và quốc tế để góp phần thực hiện mục tiêu về bảo vệ, chăm sóc và giáo
                                                dục trẻ em.</span></font>
                                    </p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;">
                                        <font color="#000000" face="Times New Roman" size="3"><span
                                                style="line-height: 130%;">Điều 2.</span><span
                                                style="line-height: 130%; font-weight: normal;"> Quỹ Bảo trợ trẻ em Việt
                                                Nam có nhiệm vụ:</span></font>
                                    </p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;"><span
                                            style="line-height: 130%; font-weight: normal;">
                                            <font color="#000000" face="Times New Roman" size="3">1.
                                                Nghiên cứu, xây dựng trình Bộ phê duyệt phương hướng, kế hoạch hoạt
                                                động dài hạn và hàng năm của Quỹ (các chương trình, dự án vận động nhằm
                                                tăng trưởng và bảo tồn nguồn quỹ, các chương trình hỗ trợ, tài trợ và
                                                các kế hoạch khác) và báo cáo Hội đồng Bảo trợ Quỹ Bảo trợ trẻ em Việt
                                                Nam sau khi được phê duyệt.</font>
                                        </span></p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;"><span
                                            style="line-height: 130%; font-weight: normal;">
                                            <font color="#000000" face="Times New Roman" size="3">2. Trình Bộ quy chế tổ
                                                chức, hoạt động và danh sách các thành viên trong Hội đồng Bảo trợ Quỹ
                                                Bảo trợ trẻ em Tỉnh Điện Biên.</font>
                                        </span></p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;"><span
                                            style="line-height: 130%; font-weight: normal;">
                                            <font color="#000000" face="Times New Roman" size="3">3.
                                                Nghiên cứu, triển khai các hình thức, phương pháp vận động nhằm khai
                                                thác các nguồn tài trợ trong nước và quốc tế cho mục tiêu bảo vệ, chăm
                                                sóc và giáo dục trẻ em; tiếp nhận các nguồn tài trợ theo quy định của
                                                pháp luật.</font>
                                        </span></p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;"><span
                                            style="line-height: 130%; font-weight: normal;">
                                            <font color="#000000" face="Times New Roman" size="3">4.
                                                Hướng dẫn việc quản lý, sử dụng Quỹ Bảo trợ trẻ em các cấp; phối hợp
                                                với các đơn vị có liên quan thuộc Bộ, các Sở Lao động – Thương binh và
                                                Xã hội, các Bộ, ngành, đoàn thể, các tổ chức, cá nhân trong và ngoài
                                                nước tổ chức triển khai thực hiện các chương trình, dự án, kế hoạch tài
                                                trợ đã được phê duyệt theo quy định của pháp luật.</font>
                                        </span></p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;"><span
                                            style="line-height: 130%; font-weight: normal;">
                                            <font color="#000000" face="Times New Roman" size="3">5. Phối hợp với các
                                                đơn vị, tổ chức liên quan kiểm tra, giám sát việc thực hiện các chương
                                                trình, dự án tại cơ sở.</font>
                                        </span></p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;"><span
                                            style="line-height: 130%; font-weight: normal;">
                                            <font color="#000000" face="Times New Roman" size="3">6. Tổ chức tuyên
                                                truyền các hoạt động của Quỹ và kết quả đóng góp của các Nhà tài trợ.
                                            </font>
                                        </span></p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;"><span
                                            style="line-height: 130%; font-weight: normal;">
                                            <font color="#000000" face="Times New Roman" size="3">7
                                                Phối hợp xây dựng, trình Bộ cơ chế quản lý tài chính đối với các hoạt
                                                động của Quỹ Bảo trợ trẻ em tỉnh Điện Biên để áp dụng thống nhất đối với Quỹ
                                                Bảo trợ trẻ em các cấp.</font>
                                        </span></p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;"><span
                                            style="line-height: 130%; font-weight: normal;">
                                            <font color="#000000" face="Times New Roman" size="3">8. Thực hiện hợp tác
                                                quốc tế theo phân công của Bộ.</font>
                                        </span></p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;"><span
                                            style="line-height: 130%; font-weight: normal;">
                                            <font color="#000000" face="Times New Roman" size="3">9.
                                                Tham gia nghiên cứu khoa học; đào tạo bồi dưỡng cán bộ, viên chức và
                                                cộng tác viên, tình nguyện viên làm công tác tuyên truyền, vận động, xây
                                                dựng và thực hiện các chương trình dự án của Quỹ.</font>
                                        </span></p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;"><span
                                            style="line-height: 130%; font-weight: normal;">
                                            <font color="#000000" face="Times New Roman" size="3">10.
                                                Sơ kết, tổng kết, báo cáo nhanh định kỳ và đột xuất với Bộ và Hội đồng
                                                Bảo trợ Quỹ Bảo trợ trẻ em tỉnh Điện Biên về các hoạt động của Quỹ Bảo trợ trẻ
                                                em Tỉnh Điện Biên.</font>
                                        </span></p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;"><span
                                            style="line-height: 130%; font-weight: normal;">
                                            <font color="#000000" face="Times New Roman" size="3">11.
                                                Quản lý cán bộ, viên chức; cơ sở vật chất, tài chính, tài sản và các
                                                nguồn thu hợp pháp khác theo quy định của pháp luật và phân cấp của Bộ.
                                            </font>
                                        </span></p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;"><span
                                            style="line-height: 130%; font-weight: normal;">
                                            <font color="#000000" face="Times New Roman" size="3">12. Thực hiện các
                                                nhiệm vụ khác do Bộ giao.</font>
                                        </span></p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;">
                                        <font color="#000000" face="Times New Roman" size="3"><span
                                                style="line-height: 130%;">Điều 3.</span><span
                                                style="line-height: 130%; font-weight: normal;"> Cơ cấu tổ chức của
                                                Quỹ</span></font>
                                    </p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;"><span
                                            style="line-height: 130%; font-weight: normal;">
                                            <font color="#000000" face="Times New Roman" size="3">1. Quỹ Bảo trợ trẻ em
                                                Điện Biên có Giám đốc và một số Phó Giám đốc giúp việc.</font>
                                        </span></p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;"><span
                                            style="line-height: 130%; font-weight: normal;">
                                            <font color="#000000" face="Times New Roman" size="3">2. Các đơn vị trực
                                                thuộc gồm:</font>
                                        </span></p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;"><span
                                            style="line-height: 130%; font-weight: normal;">
                                            <font color="#000000" face="Times New Roman" size="3">- Văn phòng;</font>
                                        </span></p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;"><span
                                            style="line-height: 130%; font-weight: normal;">
                                            <font color="#000000" face="Times New Roman" size="3">- Phòng Vận động nguồn
                                                lực;</font>
                                        </span></p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;">
                                        <font color="#000000" face="Times New Roman" size="3"><span
                                                style="line-height: 130%; font-weight: normal;">- Phòng Tuyên
                                                truyền</span><span
                                                style="line-height: 130%; text-indent: 28.05pt;">;</span></font>
                                    </p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;"><span
                                            style="line-height: 130%; font-weight: normal;">
                                            <font color="#000000" face="Times New Roman" size="3">- Phòng Quản lý Chương
                                                trình và Dự án;</font>
                                        </span></p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;"><span
                                            style="line-height: 130%; font-weight: normal;">
                                            <font color="#000000" face="Times New Roman" size="3">- Phòng Kế hoạch - Tài
                                                vụ.</font>
                                        </span></p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;">
                                        <font color="#000000" face="Times New Roman" size="3"><span
                                                style="line-height: 130%;">Điều 4.</span><span
                                                style="line-height: 130%; font-weight: normal;">
                                                Giám đốc Quỹ Bảo trợ trẻ em tỉnh Điện Biên có trách nhiệm xây dựng và tổ chức
                                                thực hiện quy chế làm việc và mối quan hệ công tác nội bộ đơn vị; quy
                                                định nhiệm vụ cho các đơn vị trực thuộc; sắp xếp và giao nhiệm vụ cho
                                                cán bộ, viên chức và người lao động thuộc quyền quản lý để thực hiện
                                                chức năng nhiệm vụ được giao.</span></font>
                                    </p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;">
                                        <font color="#000000" face="Times New Roman" size="3"><span
                                                style="line-height: 130%;">Điều 5.</span><span
                                                style="line-height: 130%; font-weight: normal;"> Quỹ Bảo vệ trẻ em Việt
                                                Nam có tư cách pháp nhân, có con dấu và tài khoản riêng theo quy
                                                định.</span></font>
                                    </p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;">
                                        <font color="#000000" face="Times New Roman" size="3"><span
                                                style="line-height: 130%;">Điều 6.</span><span
                                                style="line-height: 130%; font-weight: normal;"> Quyết định này có hiệu
                                                lực kể từ ngày ký.</span></font>
                                    </p>
                                    <p style="text-align: justify; text-indent: 28.05pt; line-height: 130%;">
                                        <font color="#000000" face="Times New Roman" size="3"><span
                                                style="line-height: 130%;">Điều 7.</span><span
                                                style="line-height: 130%; font-weight: normal;">
                                                Chánh Văn phòng Bộ, Vụ trưởng Vụ Tổ chức cán bộ, Vụ trưởng Vụ Kế hoạch –
                                                Tài chính, Giám đốc Quỹ Bảo trợ trẻ em tỉnh Điện Biên, Thủ trưởng các đơn vị
                                                liên quan chịu trách nhiệm thi hành Quyết định này ./.</span></font>
                                    </p>




                                    <table style="border-collapse: collapse;" cellpadding="0" cellspacing="0"
                                        border="0">
                                        <tbody>
                                            <tr>
                                                <td style="width: 174pt; padding: 0in 5.4pt;" valign="top" width="232">
                                                    <p><b><i>
                                                                <font color="#000000" face="Times New Roman" size="3">
                                                                    Nơi nhận:</font>
                                                            </i></b></p>
                                                    <p><span style="font-weight: normal;">
                                                            <font color="#000000" face="Times New Roman" size="3">- Như
                                                                điều 7;</font>
                                                        </span></p>
                                                    <p><span style="font-weight: normal;">
                                                            <font color="#000000" face="Times New Roman" size="3">- Lưu
                                                                VT,TCCB.</font>
                                                        </span></p>
                                                </td>
                                                <td style="width: 290.4pt; padding: 0in 5.4pt;" valign="top"
                                                    width="387">
                                                    <p style="text-align: center;" align="center">
                                                        <font color="#000000" face="Times New Roman" size="3">
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>&nbsp;&nbsp;
                                                                BỘ TRƯỞNG</b></font>
                                                    </p>

                                                    <p style="text-align: center;" align="center"><b>
                                                            <font color="#000000" face="Times New Roman" size="3">
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                (Đã ký)<br>
                                                            </font>
                                                        </b></p>

                                                    <p style="text-align: center;" align="center"><b>
                                                            <font color="#000000" face="Times New Roman" size="3">
                                                                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                                &nbsp;Phạm Thị Hải Chuyền</font>
                                                        </b></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <span id="dnn_ctr843_Main_lblMessage" style="clear: both;"></span>

                                </div><!-- End_Module_843 -->
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div id="dnn_Detail_Right" class="TNDetailRight">
                        <div class="DnnModule DnnModule-TNNewsSolution DnnModule-547"><a name="547"></a>
                            <div id="dnn_ctr547_ContentPane">
                                <!-- Start_Module_547 -->
                                <div id="dnn_ctr547_ModuleContent" class="DNNModuleContent ModTNNewsSolutionC">

















                                    <div class="tnbvdemo_wrap mid547">
                                        <div class="xcaption">
                                            <div class="xtext">
                                                <a href="/video_t215c18">
                                                    Video
                                                </a>
                                            </div>
                                        </div>
                                        <div style="clear:both"></div>
                                        <div id="player" class="xboxvideo"><embed height="180" width="250"
                                                flashvars="file=/Portals/0/VIDEO/2019_6/ps_thang_hanh_dong_vi_tre_em.flv&amp;height=180&amp;width=250&amp;image=/DesktopModules/TNNewsSolution/swfplayer/logo.jpg&amp;autostart=false"
                                                allowscriptaccess="always" wmode="transparent" allowfullscreen="true"
                                                quality="high" bgcolor="#000000" name="movie_player" id="playerID"
                                                src="/DesktopModules/TNNewsSolution/swfplayer/player.swf"
                                                type="application/x-shockwave-flash"></div>
                                        <div class="xvideotitle">Phóng sự Tháng Hành động vì trẻ em và Giải đá bóng vô
                                            địch Quốc gia cho trẻ em có HCĐB năm 2019</div>
                                        <div class="videoarea">
                                            <img class="arrow" onclick="loadVideo(-1);"
                                                src="./images/varrow_left.png"
                                                style="float: left;left: 3px;">

                                            <img title="Phóng sự Tháng Hành động vì trẻ em và Giải đá bóng vô địch Quốc gia cho trẻ em có HCĐB năm 2019"
                                                onclick="show_video(this);"
                                                mediaurl="/Portals/0/VIDEO/2019_6/ps_thang_hanh_dong_vi_tre_em.flv"
                                                style="" class="img xshow first selected"
                                                src="./images/15.JPG">

                                            <img title="Trailer giới thiệu chương trình Mùa xuân cho em lần thứ 12 năm 2019"
                                                onclick="show_video(this);"
                                                mediaurl="/Portals/0/VIDEO/2019_1/trailer_mua_xuan_xuat_lai.flv"
                                                style="" class="img xshow"
                                                src="./images/img_7909.JPG">

                                            <img title="Chương trình Ánh mắt trẻ thơ với chủ đề " cận="" thị="" thời=""
                                                công="" nghệ="" đồng="" hành="" cùng="" con="" bảo="" vê="" mắt""=""
                                                onclick="show_video(this);"
                                                mediaurl="/Portals/0/VIDEO/2018_11/anh_mat_tre_tho_20183.flv" style=""
                                                class="img xshow"
                                                src="./images/img_1385.JPG">

                                            <img title="Phóng sự khánh thành công trình xây dựng Trường PTDT bán trú TH và THCS xã Xín Chải"
                                                onclick="show_video(this);"
                                                mediaurl="/Portals/0/VIDEO/2017_8/phong_su_xin_chai_plv.flv" style=""
                                                class="img xshow last"
                                                src="./images/img_3182.JPG">

                                            <img title="Phim tài liệu 25 năm xây dựng và phát triển của Quỹ Bảo trợ trẻ em tỉnh Điện Biên"
                                                onclick="show_video(this);"
                                                mediaurl="/Portals/0/VIDEO/2017_8/quy_bttevn_352017_update.flv"
                                                style="display:none;" class="img"
                                                src="./images/tang_8683.jpg">

                                            <img class="arrow" onclick="loadVideo(1);" style="right: 0px;"
                                                src="./images/varrow_right.png">


                                        </div>

                                        <div style="clear: both; "></div>
                                    </div>
                                    <div style="clear: both;"></div>


                                    <div style="clear: both;height:10px"></div>

                                    <script type="text/javascript">
                                        var first_bood = true;
                                        jQuery(document).ready(function () {
                                            loadVideo(1);
                                            jQuery(".img").click(function () {
                                                var scop = jQuery(".mid" + '547');
                                                var me = jQuery(this);
                                                scop.find(".selected").removeClass("selected");
                                                me.addClass("selected");
                                            });
                                            jQuery(".img:first").click();
                                        });

                                        function loadVideo(seed) {
                                            var scop = jQuery(".mid" + '547');

                                            var x;
                                            if (seed == 1) {
                                                x = scop.find(".xshow:last");
                                                if (x.length > 0 && x.next(".img").length == 0) {
                                                    return;
                                                }
                                            }
                                            else {
                                                x = scop.find(".xshow:first");
                                                if (x.length > 0 && x.prev(".img").length == 0) {
                                                    return;
                                                }
                                            }

                                            scop.find(".xshow").attr("class", "img").hide();

                                            var limit = 4;
                                            if (x.length <= 0) {
                                                x = scop.find(".img:first");
                                                x.addClass("xshow").fadeIn();
                                                limit = limit - 1;
                                            }

                                            for (i = 0; i < limit; i++) {
                                                if (seed == 1)
                                                    x = x.next(".img");
                                                else
                                                    x = x.prev(".img");
                                                x.addClass("xshow").fadeIn(1500);
                                            }
                                            jQuery(".xshow:first").addClass("first");
                                            jQuery(".xshow:last").addClass("last");
                                        }

                                        function show_video(obj) {
                                            var scop = jQuery(".mid" + '547');
                                            var me = jQuery(obj);
                                            var embed_content = ""
                                            var mediaurl = me.attr("MediaUrl");
                                            scop.find(".xvideotitle").html(me.attr("title"));

                                            var ap = 1;
                                            if (first_bood == true) {
                                                ap = 0;
                                            }
                                            if (mediaurl.indexOf("youtube.com") >= 0)
                                                embed_content = '<iframe width="250" height="180" src="' + mediaurl + '?autoplay=' + ap + '&amp;loop=0&amp;rel=0" frameborder="0" allowfullscreen></iframe>'
                                            else {
                                                embed_content = "" +
                                                    "<embed height='180' width='250' " +
                                                    "flashvars='file=" + mediaurl +
                                                    "&height=180" +
                                                    "&width=250" +
                                                    "&image=/DesktopModules/TNNewsSolution/swfplayer/logo.jpg" +
                                                    //"&image=" + me.attr("src") +
                                                    "&autostart=" + !first_bood +
                                                    "' allowscriptaccess='always' " +
                                                    "wmode='transparent' " +
                                                    "allowfullscreen='true' " +
                                                    "quality='high' " +
                                                    "bgcolor='#000000' " +
                                                    "name='movie_player' " +
                                                    "id='playerID'  " +
                                                    "src='/DesktopModules/TNNewsSolution/swfplayer/player.swf' " +
                                                    "type='application/x-shockwave-flash'/>";
                                                if (!!document.createElement('video').canPlayType && mediaurl.indexOf(".mp4") > 0) {
                                                    embed_content = "<video width='100%' controls>" +
                                                        "<source src='" + mediaurl + "' type='video/mp4'>" +
                                                        "</video>";
                                                }
                                            }
                                            if (first_bood)
                                                first_bood = !first_bood;
                                            jQuery("#player").html(embed_content);
                                            return false;
                                        }
                                    </script>





                                </div><!-- End_Module_547 -->
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="DnnModule DnnModule-TNHtml DnnModule-570"><a name="570"></a>
                            <div id="dnn_ctr570_ContentPane">
                                <!-- Start_Module_570 -->
                                <div id="dnn_ctr570_ModuleContent" class="DNNModuleContent ModTNHtmlC">
                                    <style>
                                        .tnnewscate2_nochild .yhitem {
                                            padding: 10px 10px 5px 10px;
                                            background: #EDECEC;
                                            overflow: hidden;
                                        }

                                        .tnnewscate2_nochild .yhitem span {
                                            font: normal 13px/26px Open Sans Semibold;
                                            color: #0073b9;
                                            display: block
                                        }
                                    </style>
                                    <div class="tnnewscate2_nochild">
                                        <div class="xcate">
                                            <div class="xparent">
                                                <div class="xlink">
                                                    <span>Tài khoản tiếp nhận</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="clear:both"></div>
                                        <div class="yhitem">
                                            <span>
                                                TK tiền Việt: 001.0.00.0000355<br>
                                                TK ngoại tệ: 001.0.37.0002165<br>
                                                Tại: Sở giao dịch ngân hàng<br>
                                                TMCP Ngoại thương Việt Nam<br>
                                            </span>
                                        </div>
                                    </div>

                                    <span id="dnn_ctr570_Main_lblMessage" style="clear: both;"></span>

                                </div><!-- End_Module_570 -->
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="DnnModule DnnModule-TNHtml DnnModule-838"><a name="838"></a>
                            <div id="dnn_ctr838_ContentPane">
                                <!-- Start_Module_838 -->
                                <div id="dnn_ctr838_ModuleContent" class="DNNModuleContent ModTNHtmlC">
                                    <style>
                                        .tnnewscate2_nochild .xhitem {
                                            padding: 10px 10px 5px 10px;
                                            background: #EDECEC;
                                            height: 115px;
                                            overflow: hidden;
                                        }

                                        .tnnewscate2_nochild .xhitem ul li {
                                            display: block;
                                            background: url(/images/newsimage/bullet.png) 0 13px no-repeat;
                                        }

                                        .tnnewscate2_nochild .xhitem ul li a {
                                            font: normal 13px/28px Open Sans Semibold;
                                            color: #0073b9;
                                            margin-left: 12px;
                                            display: block
                                        }

                                        .tnnewscate2_nochild .xhitem ul li a:hover {
                                            color: #666
                                        }
                                    </style>
                                    <div class="tnnewscate2_nochild">
                                        <div class="xcate">
                                            <div class="xparent">
                                                <div class="xlink">
                                                    <span>Hỗ trợ thục hiện quyền trẻ em</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="clear:both"></div>
                                        <div class="xhitem">
                                            <ul>
                                                <li><a href="/quyen-song-con_t113c33">Quyền sống
                                                        còn</a></li>
                                                <li><a href="/quyen-phat-trien_t113c32">Quyền phát
                                                        triển</a></li>
                                                <li><a href="/quyen-bao-ve_t113c14">Quyền bảo vệ</a>
                                                </li>
                                                <li><a href="/quyen-tham-gia_t113c21">Quyền tham
                                                        gia</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <span id="dnn_ctr838_Main_lblMessage" style="clear: both;"></span>

                                </div><!-- End_Module_838 -->
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="DnnModule DnnModule-TNHtml DnnModule-839"><a name="839"></a>
                            <div id="dnn_ctr839_ContentPane">
                                <!-- Start_Module_839 -->
                                <div id="dnn_ctr839_ModuleContent" class="DNNModuleContent ModTNHtmlC">
                                    <style>
                                        .tnnewscate2_nochild .zhitem {
                                            padding: 10px 10px 5px 10px;
                                            height: 115px;
                                            overflow: hidden;
                                            background: #EDECEC url(/images/newsimage/maps.png) center right no-repeat;
                                        }

                                        .tnnewscate2_nochild .zhitem ul li {
                                            display: block;
                                            background: url(/images/newsimage/bullet.png) 0 13px no-repeat;
                                        }

                                        .tnnewscate2_nochild .zhitem ul li a {
                                            font: normal 13px/28px Open Sans Semibold;
                                            color: #0073b9;
                                            margin-left: 12px;
                                            display: block
                                        }

                                        .tnnewscate2_nochild .zhitem ul li a:hover {
                                            color: #666
                                        }
                                    </style>
                                    <div class="tnnewscate2_nochild">
                                        <div class="xcate">
                                            <div class="xparent">
                                                <div class="xlink">
                                                    <span>Trang địa phương</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="clear:both"></div>
                                        <div class="zhitem">
                                            <ul>
                                                <li><a href="/he-thong-quy-btte-cac-tinh_t230c29">Hệ
                                                        thống quỹ BTTE các tỉnh</a></li>
                                                <li><a
                                                        href="/gioi-thieu/gioi-thieu/tin-dia-phuong_t113c28">Tin
                                                        địa phương</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <span id="dnn_ctr839_Main_lblMessage" style="clear: both;"></span>

                                </div><!-- End_Module_839 -->
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="DnnModule DnnModule-TNHtml DnnModule-849"><a name="849"></a>
                            <div id="dnn_ctr849_ContentPane">
                                <!-- Start_Module_849 -->
                                <div id="dnn_ctr849_ModuleContent" class="DNNModuleContent ModTNHtmlC">
                                    <style>
                                        .tnnewscate2_nochild .xhitem {
                                            padding: 10px 10px 5px 10px;
                                            background: #EDECEC;
                                            height: 115px;
                                            overflow: hidden;
                                        }

                                        .tnnewscate2_nochild .xhitem ul li {
                                            display: block;
                                            background: url(/images/newsimage/bullet.png) 0 13px no-repeat;
                                        }

                                        .tnnewscate2_nochild .xhitem ul li a {
                                            font: normal 13px/28px Open Sans Semibold;
                                            color: #0073b9;
                                            margin-left: 12px;
                                            display: block
                                        }

                                        .tnnewscate2_nochild .xhitem ul li a:hover {
                                            color: #666
                                        }
                                    </style>
                                    <div class="tnnewscate2_nochild">
                                        <div class="xcate">
                                            <div class="xparent">
                                                <div class="xlink">
                                                    <span>Bảng vàng tài trợ</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="clear:both"></div>
                                        <div class="xhitem">
                                            <ul>
                                                <li><a href="/danh-sach-tai-tro-hang-thang_t113c23">Danh
                                                        sách tài trợ hàng tháng</a></li>
                                                <li><a href="/bang-vang-tai-tro_t113c20">Bảng vàng tài
                                                        trợ</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <span id="dnn_ctr849_Main_lblMessage" style="clear: both;"></span>

                                </div><!-- End_Module_849 -->
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="DnnModule DnnModule-TNHtml DnnModule-862"><a name="862"></a>
                            <div id="dnn_ctr862_ContentPane">
                                <!-- Start_Module_862 -->
                                <div id="dnn_ctr862_ModuleContent" class="DNNModuleContent ModTNHtmlC">
                                    <a href="/ban-tin-noi-bo_t109c26" target="_blank"><img
                                            src="./images/bantinnoibo.jpg"
                                            style="margin-top:10px; width:100%"></a>

                                    <span id="dnn_ctr862_Main_lblMessage" style="clear: both;"></span>

                                </div><!-- End_Module_862 -->
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div class="clear">
                    </div>
                    <div id="dnn_VideoLeft" class="videoleft DNNEmptyPane">
                    </div>
                    <div id="dnn_VideoRight" class="videoright DNNEmptyPane">
                    </div>
                    <div class="clear">
                    </div>
                    <div id="dnn_VideoHomeTop" class="TNvideotop DNNEmptyPane">
                    </div>
                    <div class="clear">
                    </div>
                    <div id="dnn_Video_Left" class="TNVdieoleft DNNEmptyPane">
                    </div>
                    <div id="dnn_Video_Center" class="TNVideocenter DNNEmptyPane">
                    </div>
                    <div id="dnn_Video_Right" class="TNVideoright DNNEmptyPane">
                    </div>
                    <div class="clear">
                    </div>
                    <div id="dnn_Bottom" class="TNContent DNNEmptyPane">
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="TNFooter">
            <div id="dnn_Footer" class="TNBannerFooter">
                <div class="DnnModule DnnModule-TNHtml DnnModule-527"><a name="527"></a>
                    <div id="dnn_ctr527_ContentPane">
                        <!-- Start_Module_527 -->
                        <div id="dnn_ctr527_ModuleContent" class="DNNModuleContent ModTNHtmlC">
                            <style>
                                .ftLeft {
                                    float: left;
                                    width: 30%;
                                }

                                .ftLeft span {
                                    color: #fff;
                                    text-align: left;
                                    line-height: 20px;
                                }

                                .ftRight {
                                    float: right;
                                    text-align: left;
                                    font-size: 11px;
                                    margin-top: 10px;
                                    text-align: right
                                }

                                .ftRight span {
                                    color: #D5D5D5;
                                    font: normal 13px/22px "Open Sansz";
                                }

                                .ftRight a {
                                    text-decoration: none;
                                    color: #D5D5D5
                                }

                                .ftRight a:hover {
                                    color: yellow
                                }
                            </style>

                            <div class="ftLeft">
                                <div style="float:left;"><a href="/" tabindex="0"><img
                                            style="margin-right:40px"
                                            src="./images/f_logo.png"></a>
                                </div>
                                <div style="float:right;">
                                    <span>
                                        <a href="#"
                                            tabindex="0"><img style="margin-top:-20px"
                                                src="./images/icon_fb.png"></a>
                                        <a href="#" tabindex="0"><img
                                                style="margin:-20px 20px 0 20px"
                                                src="./images/icon_twitter.png"></a>
                                        <a href="#"
                                            tabindex="0"><img style="margin-top:20px"
                                                src="./images/icon_gplus.png"></a>
                                    </span>
                                </div>
                            </div>
                            <div class="ftRight">
                                <span>
                                    <b>Bản quyền thuộc Quỹ <a href="/" target="_blank">Bảo trợ</a> trẻ
                                        em tỉnh Điện Biên </b><br>
                                    Tel: (xxx) xxxxxxxxx/ xxxxxxxxx/ xxxxxxxxx/ xxxxxxxxx/ xxxxxxxxx * Fax: (xxx) xxxxxxxxx
                                    <br>
                                    Email: xxxxxx@gmail.com.vn * Website: # * Fanpage:
                                    http://facebook.com/xxx.xx.xx<br>
                                    Thiết kế và phát triển bởi <a tabindex="0" target="_blank" href="#">19_haipv</a>
                                </span>
                            </div>
                            <div style="clear: both;"></div>

                            <span id="dnn_ctr527_Main_lblMessage" style="clear: both;"></span>

                        </div><!-- End_Module_527 -->
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
        <div id="scroll-top" style="display: none;">
            <a href="#" tabindex="0">
                <div class="GotoTop">
                    Scroll</div>
            </a>
        </div>
        <div id="dnn_Contentpane" class="DNNEmptyPane">
        </div>
        <script type="text/javascript">
            function tninit() {
                jQuery(".smartlistnoheight").each(function () {
                    var me = jQuery(this);
                    me.customScroll();
                });
                tndate(".dt");
                jQuery(".dt").mask('99/99/9999');
                jQuery('img[src=]').attr('src', 'abc.jpg');
                jQuery('a img.ximg').error(function () {
                    jQuery(this).parent().hide();
                });

                jQuery('.imgnews').each(function () {
                    var me = jQuery(this);
                    me.find('img').error(function () {
                        me.hide();
                    });
                    var mheight = me.height();
                    var mwidth = me.width();
                    var mimg = me.find('img:first');
                    if (mimg.height() < mheight) {
                        mimg.css("width", "auto");
                        mimg.css("height", mheight);
                    }
                });
            }
        </script>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery("#scroll-top").hide();
                jQuery(function () {
                    jQuery(window).scroll(function () {
                        if (jQuery(this).scrollTop() > 400) {
                            jQuery('#scroll-top').fadeIn();
                        } else {
                            jQuery('#scroll-top').fadeOut();
                        }
                    });
                    jQuery('#scroll-top a').click(function () {
                        jQuery('body,html').animate({
                            scrollTop: 0
                        }, 1000);
                        return false;
                    });
                });
            });
        </script>
        <script language="javascript" type="text/javascript">

            $(function () {
                $("#amazon_scroller3").amazon_scroller({
                    scroller_title_show: 'enable',
                    scroller_time_interval: '3000',
                    scroller_window_background_color: "none",
                    scroller_window_padding: '0',
                    scroller_border: "1px solid #c8c8c8",
                    scroller_images_width: '140',
                    scroller_images_height: '100',
                    scroller_title_size: '0',
                    scroller_title_color: '#0c6797',
                    scroller_show_count: '6',
                    directory: 'images'
                });
            });
        </script>

        <input name="ScrollTop" type="hidden" id="ScrollTop" value="53">
        <input name="__dnnVariable" type="hidden" id="__dnnVariable" autocomplete="off"
            value="`{`__scdoff`:`1`,`sf_siteRoot`:`/`,`sf_tabId`:`61`}">


        <!-- <script type="text/javascript"
            src="./js/initWidgets.js"></script> -->
    </form>



    <div id="fancybox-tmp"></div>
    <div id="fancybox-loading">
        <div></div>
    </div>
    <div id="fancybox-overlay"></div>
    <div id="fancybox-wrap">
        <div id="fancybox-outer">
            <div class="fancybox-bg" id="fancybox-bg-n"></div>
            <div class="fancybox-bg" id="fancybox-bg-ne"></div>
            <div class="fancybox-bg" id="fancybox-bg-e"></div>
            <div class="fancybox-bg" id="fancybox-bg-se"></div>
            <div class="fancybox-bg" id="fancybox-bg-s"></div>
            <div class="fancybox-bg" id="fancybox-bg-sw"></div>
            <div class="fancybox-bg" id="fancybox-bg-w"></div>
            <div class="fancybox-bg" id="fancybox-bg-nw"></div>
            <div id="fancybox-content"></div><a id="fancybox-close"></a>
            <div id="fancybox-title"></div><a href="javascript:;" id="fancybox-left"><span class="fancy-ico"
                    id="fancybox-left-ico"></span></a><a href="javascript:;" id="fancybox-right"><span class="fancy-ico"
                    id="fancybox-right-ico"></span></a>
        </div>
    </div>
    <div id="eJOY__extension_root" style="all: unset;"></div>
</body>

</html>