<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="text/javascript" http-equiv="Content-Script-Type">
<meta content="text/css" http-equiv="Content-Style-Type">
<meta id="MetaDescription" name="DESCRIPTION" content="Quỹ Bảo trợ trẻ em tỉnh Điện Biên">
<meta id="MetaKeywords" name="KEYWORDS" content="Quỹ Bảo trợ trẻ em tỉnh Điện Biên,DotNetNuke,DNN">
<meta id="MetaCopyright" name="COPYRIGHT" content="Copyright 2019 by Trí Nam Jsc">
<meta id="MetaGenerator" name="GENERATOR" content="DotNetNuke ">
<meta id="MetaAuthor" name="AUTHOR" content="Quỹ Bảo trợ trẻ em tỉnh Điện Biên">
<meta name="RESOURCE-TYPE" content="DOCUMENT">
<meta name="DISTRIBUTION" content="GLOBAL">
<meta id="MetaRobots" name="ROBOTS" content="INDEX, FOLLOW">
<meta name="REVISIT-AFTER" content="1 DAYS">
<meta name="RATING" content="GENERAL">
<meta http-equiv="PAGE-ENTER" content="RevealTrans(Duration=0,Transition=1)">
<title>
    <%=title%>
</title>
<style id="StylePlaceholder" type="text/css"></style>
<link href="./stylesheets/default.css" type="text/css" rel="stylesheet">
<link href="./stylesheets/skin.css" type="text/css" rel="stylesheet">
<link href="./stylesheets/container.css" type="text/css" rel="stylesheet">
<script src="./js/jquery.js" type="text/javascript"></script>
<link href="#" rel="canonical">
<link rel="SHORTCUT ICON" href="/images/fav.ico" type="image/x-icon">
