<script src="./js/jquery-ui.min.js" type="text/javascript"></script>
<script src="./js/jquery-migrate.min.js" type="text/javascript"></script>
<link href="./stylesheets/menucss.css" rel="stylesheet" type="text/css">
<link href="./stylesheets/news.css" rel="stylesheet" type="text/css">
<link href="./stylesheets/common.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="./stylesheets/style.css" media="screen">
<script type="text/javascript" src="./js/jquery.tn.pack.js"></script>
<script type="text/javascript" src="./js/amazon_scroller.js"></script>

<div class="TNHeader">
    <div class="TNHeaderTop">
        <div class="TNContent">
            <div id="dnn_Link" class="TNHeadLeft">
                <div class="DnnModule DnnModule-TNHtml DnnModule-515"><a name="515"></a>
                    <div id="dnn_ctr515_ContentPane">
                        <!-- Start_Module_515 -->
                        <div id="dnn_ctr515_ModuleContent" class="DNNModuleContent ModTNHtmlC">
                            <div style="margin:1px 0">
                                <a href="http://www.molisa.gov.vn/" target="_blank"
                                    title="Bộ lao động thương binh và xã hội">
                                    <img src="./images/i_ldxh.png">
                                </a>
                            </div>

                            <span id="dnn_ctr515_Main_lblMessage" style="clear: both;"></span>

                        </div><!-- End_Module_515 -->
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
            <div class="TNHeadRight">
                <div id="dnn_SearchTop" class="TNSearch">
                    <div class="DnnModule DnnModule-TNNewsSolution DnnModule-514"><a name="514"></a>
                        <div id="dnn_ctr514_ContentPane">
                            <!-- Start_Module_514 -->
                            <div id="dnn_ctr514_ModuleContent" class="DNNModuleContent ModTNNewsSolutionC">


                                <div class="form-search">
                                    <label for="tukhoatimkiem" class="placehodercss1"><span
                                            id="dnn_ctr514_Main_UserNewsSearch_label" for="tukhoatimkiem">Nhập
                                            từ khóa tìm kiếm ...</span></label>
                                    <input name="dnn$ctr514$Main$UserNewsSearch$txtKeyword" type="text"
                                        id="dnn_ctr514_Main_UserNewsSearch_txtKeyword" class="txt-search tukhoatimkiem">
                                    <a id="dnn_ctr514_Main_UserNewsSearch__SearchButton" class="bt-search" href="#"></a>
                                </div>


                                <script src="./js/jquery.infieldlabel.min.js" type="text/javascript"></script>
                                <script type="text/javascript">
                                    /*******PlaceHoders*******/
                                    $(document).ready(function () {
                                        startplacehoders1();
                                    });
                                    function startplacehoders1() {
                                        $("label").inFieldLabels();
                                        jQuery(".placehodercss1").click(function () {
                                            jQuery(this).next().focus();
                                        });
                                    }
    /*******PlaceHoders*******/
                                </script>




                            </div><!-- End_Module_514 -->
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
                <div id="dnn_Contact" class="TNContact">
                    <div class="DnnModule DnnModule-TNHtml DnnModule-755"><a name="755"></a>
                        <div id="dnn_ctr755_ContentPane">
                            <!-- Start_Module_755 -->
                            <div id="dnn_ctr755_ModuleContent" class="DNNModuleContent ModTNHtmlC">
                                <style>
                                    .TNVLink {
                                        float: left;
                                        width: 86px;
                                        background: url(/Portals/0/HTML/topleft_lable.png) bottom left no-repeat;
                                        height: 50px;
                                        padding: 10px;
                                        text-align: center;
                                        position: absolute;
                                        right: 100px
                                    }

                                    .TNVLink a {
                                        color: #d5d5d5;
                                        font-weight: bold;
                                    }

                                    .TNVLink a:hover {
                                        color: #e7d05c
                                    }

                                    .TNVIcon {
                                        float: left;
                                        margin: 10px 0 0 10px;
                                    }

                                    .TNVIcon img {
                                        margin: 5px;
                                        display: inline-block;
                                    }

                                    .TNVIcon .Langg {
                                        margin: 0 2px
                                    }
                                </style>

                                <span id="dnn_ctr755_Main_lblMessage" style="clear: both;"></span>

                            </div><!-- End_Module_755 -->
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
    <div class="TNContent">
        <div style="position: relative">
            <div id="dnn_Logo" class="TNLogo">
                <div class="DnnModule DnnModule-TNHtml DnnModule-513"><a name="513"></a>
                    <div id="dnn_ctr513_ContentPane">
                        <!-- Start_Module_513 -->
                        <div id="dnn_ctr513_ModuleContent" class="DNNModuleContent ModTNHtmlC">
                            <a href="/"><img style="margin: 10px 0px;" alt="" src="./images/HTML/Logo.png" height="58"
                                    width="323"></a>

                            <span id="dnn_ctr513_Main_lblMessage" style="clear: both;"></span>

                        </div>
                        <!-- End_Module_513 -->
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
            <div id="dnn_Menu" class="TNMenu">
                <div class="DnnModule DnnModule-TNCategorySolution DnnModule-516"><a name="516"></a>
                    <div id="dnn_ctr516_ContentPane">
                        <!-- Start_Module_516 -->
                        <div id="dnn_ctr516_ModuleContent" class="DNNModuleContent ModTNCategorySolutionC">

                            <div class="simplemenu">
                                <ul>
                                    <li IconUrl="" Contents="" XTarget="" Role="" class="KDPLhome" catid=""><a
                                            href="/">Home</a></li>
                                    <li IconUrl="" Contents="" XTarget="" Role="" class="" catid=""><a href="/">Trang
                                            chủ</a></li>
                                    <li IconUrl="" Contents="" XTarget="" Role="" class="" catid="24"><a
                                            href="gioi-thieu_t58c24">Giới thiệu</a>
                                        <ul>
                                            <li IconUrl="" Contents="" XTarget="" Role="" class="" catid="65"><a
                                                    href="lich-su-hinh-thanh">Lịch
                                                    sử hình thành và phát triển</a></li>
                                            <li IconUrl="" Contents="" XTarget="" Role="" class="" catid="64"><a
                                                    href="chuc-nang-nhiem-vu">Chức năng nhiệm
                                                    vụ</a></li>
                                            <li IconUrl="" Contents="" XTarget="" Role="" class="" catid="10"><a
                                                    href="co-cau-to-chuc">Cơ cấu tổ chức</a>
                                            </li>
                                            <li IconUrl="/Portals/0/CATEGORY_IMAGE/nghien-cuu-khoa-hoc.jpg" Contents=""
                                                XTarget="" Role="" class="" catid="11"><a
                                                    href="cac-hoat-dong-ho-tro-tre-em">Các
                                                    hoạt động hỗ trợ trẻ em</a></li>
                                        </ul>
                                    </li>
                                    <li IconUrl="" Contents="" XTarget="" Role="" class="" catid="31"><a
                                            href="tin-tuc-su-kien_t113c31">Tin tức - Sự kiện</a>
                                        <ul>
                                            <li catid="33"><a href="tin-tuc-su-kien/quyen-song-con_t113c33">Quyền sống
                                                    còn</a></li>
                                            <li catid="32"><a href="tin-tuc-su-kien/quyen-phat-trien_t113c32">Quyền phát
                                                    triển</a></li>
                                            <li catid="14"><a href="tin-tuc-su-kien/quyen-bao-ve_t113c14">Quyền
                                                    bảo vệ</a></li>
                                            <li catid="21"><a href="tin-tuc-su-kien/quyen-tham-gia_t113c21">Quyền tham
                                                    gia</a></li>
                                            <li catid="22"><a href="tin-tuc-su-kien/cac-chuong-trinh-khac_t113c22">Các
                                                    chương trình khác</a></li>
                                        </ul>
                                    </li>
                                    <li IconUrl="" Contents="" XTarget="" Role="" class="" catid="72"><a
                                            href="thong-tin-tre-em_t113c72">Thông tin trẻ em</a>
                                        <ul>
                                            <li IconUrl="" Contents="" XTarget="" Role="" class="" catid="73"><a
                                                    href="tre-em-da-duoc-giup-do_t113c73">Trẻ em đã được giúp
                                                    đỡ</a></li>
                                            <li IconUrl="" Contents="" XTarget="" Role="" class="" catid="74"><a
                                                    href="tre-em-can-giup-do_t113c74">Trẻ em cần giúp đỡ</a>
                                            </li>
                                            <li IconUrl="" Contents="" XTarget="" Role="" class="" catid="75"><a
                                                    href="cac-hoat-dong-ve-tre-em_t113c75">Các hoạt động về trẻ
                                                    em</a></li>
                                            <li IconUrl="" Contents="" XTarget="" Role="" class="" catid="76"><a
                                                    href="guong-sang-tre-em_t113c76">Gương sáng trẻ em</a></li>
                                            <li IconUrl="" Contents="" XTarget="" Role="" class="" catid="77"><a
                                                    href="kien-thuc-tre-em_t113c77">Kiến thức trẻ em</a></li>
                                        </ul>
                                    </li>
                                    <li IconUrl="" Contents="" XTarget="" Role="" class="" catid="30"><a
                                            href="nha-tai-tro">Nhà tài trợ</a></li>
                                    <!-- <li IconUrl="/images/tnlogo.png" Contents="" XTarget="_blank" Role="" class=""
                                        catid="">
                                        <a target="_blank" href="#lien-he">Liên hệ</a></li> -->
                                </ul>
                            </div>

                            <span id="dnn_ctr516_Main_lblMessage" style="clear:both;"></span>


                        </div>
                        <!-- End_Module_516 -->
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
</div>